[2019-09-29 01:32] codepgq opened #957 "When do you support Swift 5.1?"
Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler:

[2019-09-29 21:13] Sannaraek opened #958 "Ambiguous reference to member '<-'"
I am getting the error "Ambiguous reference to member '<-' " when i try to add a data to a row in my databse

 try db.run(scheduleDetail.insert(shour <- Int64(hourData), sday <- Int64(dayData)))

[2019-09-30 22:14] pandapancake commented on #956
I changed it to optional ` return try? failableNext()`.  So far it haven't crush yet.

[2019-10-03 04:43] #851 closed

[2019-10-03 14:38] rust-rave commented on #957
Why are you specifically using Swift 5.1 instead of 5.0 ?

[2019-10-08 13:38] codepgq commented on #957
I accidentally upgraded Xcode.🤷‍♀️

[2019-10-09 16:38] nobre84 commented on #929
Any news on this? I saw something some crash logs that brought me here and it might be related

[2019-10-10 15:04] lucascorrea opened #959 "Could not find module 'SQLite' for target 'armv7-apple-ios'; found: arm64, arm64-apple-ios"
Hi Guys, anyone has that issue?
The project that I'm working on now it must support iOS 10.3.

[2019-10-11 02:05] zyflovelam opened #960 "Crashing at ‘Connection.prepare(_:)’"
## Build Information

- SQLite.swift: 0.11.5
- Xcode: 10.1 (10B61)
- OS X: 10.13.6 (17G65)

## General guidelines

![image](https://user-images.githubusercontent.com/19360803/66619280-fd026280-ec0e-11e9-88c6-b4c54fe3db4e.png)

![image](https://user-images.githubusercontent.com/19360803/66619291-0ab7e800-ec0f-11e9-84f9-3fefb590ca0f.png)

[2019-10-11 02:10] zyflovelam commented on #960
How do I resolve it? Could anyone give me help, please

[2019-10-11 14:47] dbof10 commented on #168
this is very common use case? no update?

[2019-10-13 17:44] misteral commented on #957
Fix it by `carthage update --platform iOS --no-use-binaries`

[2019-10-13 22:38] FraggedResources commented on #957
I also fixed it now, using CocoaPods. Deleted the frameworks (just reference) and updated the pods again with `pod install --repo-update`. After reopening the workspace I did not convert to swift 5, which let me run my app on iPhone with newest iOS update.

[2019-10-15 02:06] chee1986 opened #961 "Use of unresolved identifier 'SQLITE_CONSTRAINT'"
SQLite.swift0.12.2
Xcode11 MacOS Catalina
Swift Package manager(use the xcode11's build-in gui tool)

[2019-10-16 18:55] Samback opened #962 "Question: Filter by date."
Hi there,
I just wanna filter all dates that older than 24 hours.
I was trying to do it like this https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#date-time-values
But it doesn't work for me :(

E.g:
[code]
As a result I get zero items.
My SQL query logs print next
[code]

What I'm doing wrong?

[2019-10-17 11:58] emraherten opened #963 "get data from SQLite and display in uitableview"
I'm using Swift 5 and SQLite. Database creation and table creation is done but I'm having trouble to get the data of the table and list this data in uitableview. I read all the documents but couldn't write the necessary code for that.
Is anybody have any sample code to read data from SQLite and show in tableview? compatible for Swift 4 or Swift 5.

[2019-10-18 03:09] ShaharHD commented on #958
Have the exact same issue...

[2019-10-18 06:51] Sannaraek commented on #958
solved by declaring the DB connection locally rather then globally wrapped.

[2019-10-18 06:51] #958 closed

[2019-10-22 02:49] mafiaIOS commented on #944
hello, have you handle this problem? bro.

[2019-10-23 13:18] Tahia50 opened #964 "Apply Null in unique constraint"
Can UNIQUE constraint can be applied without not null constraint in the wrapper? As far as I know sqlite allows null but in the wrapper unique : true makes it NOT NULL. Is there any way without using raw sql?

[2019-10-23 13:23] #964 closed

[2019-10-28 03:12] xgoo opened #965 "How to create a view ? can't find any examples..."
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected.
- How do do you integrate SQLite.swift in your project?
    - manual
    - CocoaPods
    - Carthage
    - Swift Package manager

## General guidelines

- Be as descriptive as possible.
- Provide as much information needed to _reliably reproduce_ the issue.

[2019-10-30 13:11] Esdeath opened #966 "how to open an db with password"
Another give me a   database with password .  I do not know how to open it  with Sqlite.swift

[2019-10-31 03:35] mikemee commented on #630
FWIW, some notes from my researching this 6922 extended error code.  My app gets this error sometimes while using a SQLite database read-only that is stored in the app bundle. It seems more frequent with iOS 13.

6922 is not a standard SQLite extended error. It's added by Apple and corresponds to `SQLITE_IOERR_VNODE`.

A reference asking about this same error is:

https://stackoverflow.com/questio

[2019-10-31 05:00] jlawton commented on #963
Since it seems to me that this project isn't intended to solve the problem of interacting with UIKit, this might not be the right place to ask, and I don't happen to have that use case.

The basic idea would be to read from the database using a `Statement` (such as `db.prepare(users)` in the documentation example) and possibly store that in an Array (`Array(db.prepare(users))`) to use in an implem

[2019-10-31 09:45] Swasidhant commented on #960
Any update on this? I seem to be facing the same issue

[2019-11-01 13:55] aledc7 commented on #959
Hi, i have te same problem.  Check this link

[https://forums.developer.apple.com/thread/123614](url)

I hope you can solve it.

[2019-11-01 19:51] pacu commented on #952
I'm seeing this on an In Memory Db. What's actually happening is that the connection is being nulled between statements because I'm using builders on my tests and not actually keeping a reference alive.

Beware of the GREAT ARC!

[2019-11-03 22:45] Quailcreek opened #967 "Converting an INNER JOIN query from SQLite to SQLite.Swift"
I need some help. I started this app using LiveCode and SQLite and I've since switched over to Xcode and SQLit.Swift. I'm using the existing database. I'm having a little trouble converting an inner join of some of the tables.

Right now I'm dealing with 3 tables:
CrossRef, My_Data and My_Routines

My_Data contains DataID and Data_Name and My_Routines contain RoutineID and Routine_Name.

The Cross

[2019-11-03 22:48] Quailcreek commented on #967
Here are the Expressions for the table and the fields.

[code]

[2019-11-07 10:25] simonfoxguitar commented on #630
I read all the above. I don't mean to be overly negative, but it does seem that error 10 means you're dead in the water. The above comments are not encouraging, and there's no rhyme or reason for the error to appear. It continues for 5 app restarts, then suddenly, we're not doing error 10 any more and everything is fine. And then the next day, it's error 10 again.
I've followed the documentation t

[2019-11-07 10:33] mikemee commented on #630
I was able to workaround it by statically linking SQLite. See https://stackoverflow.com/questions/43349189/what-does-sqlite-ioerr-vnode-code-6922-mean/58668058

[2019-11-07 10:35] mikemee commented on #630
@simonfoxguitar this started happening much more for me with ios13 and/or Xcode 11. See above.

[2019-11-07 10:50] mikemee commented on #630
@simonfoxguitar also see the idea of adding the setting `SQLITE_ENABLE_FILE_ASSERTIONS=1` to get more debug info. If you find something,  please report back! I lost interest once static linking worked, but it would be nice to remove it from my workspace.

[2019-11-07 10:52] simonfoxguitar commented on #630
Thanks Mikemee, thanks for the help, I'll give it some effort before giving up.
Did you mean to embed this swiftlyfalling project as a sub-project in your own Xcode project?
Also - did this problem only occur on simulators, or is it across real devices too?
Many thanks

[2019-11-07 11:22] simonfoxguitar commented on #630
Pretty quickly dropped into yet another xcode configuration nightmare.
Again, followed the directions exactly and a long list of xcode compile errors:
"could not find included file 'SQLiteLib-USER.xcconfig' in search paths"

This is why I want to give up to be honest.

[2019-11-07 12:22] mikemee commented on #630
Both simulator and a real device.

[2019-11-09 12:27] abdelmagied94 opened #969 "Haven't the triggers exposed yet?"
I see you added `expose triggers` to the plan in issue [#164](https://github.com/stephencelis/SQLite.swift/issues/164).

[2019-11-18 00:16] nalexander50 commented on #936
I'm facing kind of the opposite issue. I _want_ the `CodingKeys` to be prefixed with their table_name. But, at decode time, the decoder claims that it can't find the right key.

[code]

[code]

**Error:**

[code]

Aside from the garbled mess of escape quotes, `pokemon.id` plainly appears in the list of columns in the error. I have no idea why this doesn't work. If I reduce the `CodingKey` to just

[2019-11-18 10:42] groue commented on #936
You may want to check https://github.com/groue/GRDB.swift and its associations: https://github.com/groue/GRDB.swift/blob/master/Documentation/AssociationsBasics.md

They make decoding joined tables a breeze

[2019-11-24 03:15] touee commented on #835
Not sure if this is a good idea, but you can try:
[code]
This way I can execute expensive query in applications like DB Browser, while running my program, without causing the program complain about database being locked (of course, the thread writing the database would be blocked until the external application's query has been done)

[2019-11-29 06:09] Krrunal commented on #141
i m having same issue can you please help me out how to solve this issue

[2019-12-05 12:54] JasonLiu1989 commented on #920
try this
add these code into your podfile
`post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['SWIFT_VERSION'] = '4.2'
      config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '9.0'
    end
  end
end`
and set pod 'SQLite.swift', '0.11.5'

[2019-12-09 11:12] kbhamzaarif commented on #952
Its works for me hope it will work for you. thanks.

let directoryList = NSSearchPathForDirectoriesInDomains(.documentDirectory, .userDomainMask, true)
        var documentDirectory = directoryList.first
        documentDirectory?.append("/yourdbname.sqlite3")
        print(documentDirectory!)

        if !FileManager.default.fileExists(atPath: documentDirectory!) {
            let databaseBundleP

[2019-12-18 08:20] MobileGuru1013 opened #973 "Able to create table in Simulator but unable to create table in Actual device( iOS 13.3 )"
[TestProject.zip](https://github.com/stephencelis/SQLite.swift/files/3977348/TestProject.zip)

[2019-12-23 16:43] bkbeachlabs opened #974 ""No such module 'SQLiteObjc'" when building UITest bundle for app that includes SQLite as SwiftPM package"
## Build Information

- Reproduced in version 0.12.2 and also master
- Xcode version 11.3
- Integrated via SwiftPM

## General guidelines

Reproduction steps:
- Create an iOS app (Single view is sufficient) using Swift as the language
- Add SQLite as a dependency of the application target in SwiftPM
- import SQLite into one of your swift files and use an API to confirm the App has linked the frame

[2019-12-23 18:17] bkbeachlabs commented on #974
Ok I was actually able to resolve this issue by adding the main app as a target to be built when running the UI tests. Phew!

<img width="896" alt="Screen Shot 2019-12-23 at 1 15 56 PM" src="https://user-images.githubusercontent.com/4221514/71373835-87a7fc00-2586-11ea-8fb3-1ca1432464df.png">

[2019-12-23 18:17] #974 closed

[2019-12-24 10:03] Gaozn opened #975 "How do I tell if a table exists"
rt

[2019-12-25 09:11] manan6166 commented on #975
try! DBConnection.Constant.db.run(tblVehicles.create(ifNotExists: true) { t in
            t.column(id, primaryKey: true)
            t.column(name)
            t.column(company, unique: true)
        })

[2020-01-06 13:21] krishnastvSMSC commented on #795
Hello  Team,

We are also facing this issue, how to resolve this one? Any suggestions

Thank you

[2020-01-07 05:35] MingleChang opened #978 "bind dictionary params will crash"
If I select use
`try! connect?.prepare("SELECT * FROM words WHERE category=:category AND language=:language ORDER BY RANDOM()", ["category":category, "language":language])`
it will crash, like this
![76F3D71E-D6A8-4F6F-9C7E-BD9CD5AF8CA7](https://user-images.githubusercontent.com/2186746/71870872-4ef54e80-3152-11ea-847d-ec6053bc8a5f.png)

But use
`try! connect?.prepare("SELECT * FROM words WHERE ca

[2020-01-17 01:28] digitxo opened #979 "alternative ways to make a database"
I don't want to type the SQL insert statements to create my database, what are my alternative methods to do so? Can I Just create a spreadsheet and convert it to sqlite format?

[2020-01-17 20:52] digitxo opened #980 "'View' is ambiguous for type lookup in this contex"
When I import SQLite to my SwiftUI controller I get this msg:

![image](https://user-images.githubusercontent.com/39468483/72645340-40641f80-3928-11ea-8807-6183f341ef1a.png)

[2020-01-31 20:05] digitxo opened #982 "Cannot open file"
I dragged my ".db" file into my project..

let db = try Connection("architect.db")

Prints this error to console:

2020-01-30 23:21:16.354630-0800 architect[398:88870] [logging-persist] cannot open file at line 43353 of [378230ae7f]

2020-01-30 23:21:16.354718-0800 architect[398:88870] [logging-persist] os_unix.c:43353: (0) open(//architect.db) - Undefined error: 0

The operation couldn’t be compl

[2020-01-31 23:03] AgosrinhoScz commented on #982
Hi,
I'm same error.
See the picture.
Agostinho
<img width="1284" alt="Captura de Tela 2020-01-31 às 20 00 37" src="https://user-images.githubusercontent.com/60299985/73580517-9bd3f880-4464-11ea-9dbb-072c78240c43.png">

[2020-02-02 00:06] AgosrinhoScz opened #983 "Example connection DB with SQLite"
Hello,

Does anyone have a complete example of how to connect and work with SQLite in a Swift 5 / XCode / Mac app?
The separate code examples from SQLite.swift do not work, nor can I connect the database that is already created.
See # 982.

[2020-02-02 11:43] avnerbarr opened #984 "CSV file support"
i'd like to load large CSV files into virtual sqlite tables.
I'm able to do so using the sqlite3 mac application using the following commands and am curious if I can accomplish something similar without the need of iterating over the csv file + parsing etc.

[code]

was wondering if this is also possible doing something like this (which didn't work unfortunately)

[code]

also tried according to t

[2020-02-05 18:35] mickael-menu opened #985 "Parsing default SQLite DATETIME format into Date"
Hi,

I've been trying to read a `DATETIME` column using an `Expressible<Date>`, unfortunately it crashes in [`Date.fromDatatypeValue`](https://github.com/stephencelis/SQLite.swift/blob/70fb7af324cb3170d921f135f0c84cbdb6487cc2/Sources/SQLite/Foundation.swift#L52).

[code]

I think that SQLite.swift [is expecting a Date format](https://github.com/stephencelis/SQLite.swift/blob/70fb7af324cb3170d921f1

[2020-02-06 04:06] adramani90 commented on #938
Did you get any solution for the above issue? Because i get the same error but still not got the solution. Please help me to get out of this. Thanks.

[2020-02-06 09:58] mickael-menu commented on #985
Thankfully, `SQLite.dateFormatter` is a `var` and is public, so I could override the `dateFormat` in my app.

[code]

However, I think SQLite.swift should be able to parse all the formats defined in the [SQLite documentation](https://www.sqlite.org/lang_datefunc.html) for the date and time functions (`date`, `time`, `datetime` and `julianday`), and serialize the `Date` objects into the most precis

[2020-02-06 20:52] casperson opened #986 "Ambiguous use of 'SQLITE_DETERMINISTIC'"
Xcode Version: 11.3.1
Using Cocoapods

We integrate SQLCipher in with this using the method:
`pod 'SQLite.swift/SQLCipher', '0.12.2'`

I did a pod update that bumped SQLCipher from `4.2.0` (what we had previously) to `4.3.0` and now our `Podfile.lock` looks like this:

[code]

It was previously this:

[code]

With the update it fails to build giving the issue `Ambiguous use of 'SQLITE_DETERMINISTI

[2020-02-07 12:12] benmckillop opened #987 "[QUESTION] Storing data as [String] in column"
[code]

I'm trying to store items in an array of strings but at the line table.column(mixer) I get:

Any advice on how I can store values in an array? I can't see anything in the docs

[2020-02-08 02:27] AgosrinhoScz opened #988 "Example doesn't work ..."
Hi,

Error in example ... how correct ?
<img width="869" alt="Captura de Tela 2020-02-07 às 23 25 39" src="https://user-images.githubusercontent.com/60299985/74077763-6e0d2780-4a01-11ea-8eeb-674fb0fce320.png">

[2020-02-20 06:52] chillamcharlakavya commented on #957
Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.3 compiler

[2020-02-20 13:07] Suresh-Alangat commented on #914
This version didn't solve my issue. Shows the same in 0.12.0 also

[2020-02-21 08:01] kamzab95 opened #989 "Queries not working properly when using Encodable with optional values"
##  Build Information
version: 0.12 master
xcode: 11.3 iOS: 13.2
integrated with: Carthage

## Description

For
[code]

Query
[code]
won't work properly if data were inserted to the database as Encodable. In this case **name will never be found**.
Name, which is String? will be put to database as "\\"aabbbbcccc\\"". The issue is caused by this additional quotes.

The workaround for this issue is a

[2020-02-22 03:59] tomasen opened #990 "No such module 'SQLiteObjc'"
## Build Information

- SQLite.swift version, 0.12.2
- XCode 11.3.1
- How do do you integrate SQLite.swift in your project?
    - Swift Package manager

After added the swift package dependency, unit tests targets in my project are unable to build and test. It shows build error and compiles error as the following screenshots.

[build error](https://pasteboard.co/IVNTeQi.png)
[compile error](https:

[2020-03-05 07:57] ToForgive commented on #986
There's something wrong with `SQLCipher `

Modify the Podfile like this:
[code]

It's work for me!

[2020-03-05 18:11] casperson commented on #986
@ToForgive I understand that that works, since that is the version of `SQLCipher` we are on currently, as you can see in my `Podfile.lock` that I shared above. But that doesn't solve the problem of updating to the latest version of `SQLCipher`.  If `SQLite.swift` claims to support `SQLCipher` (as it does) then it should support the latest version, or say that it only supports up through `4.2.0`. I

[2020-03-07 04:35] theanhoo opened #991 "/Users/yth/Xcode/test/Pods/SQLite.swift/Sources/SQLiteObjc/fts3_tokenizer.h:27:9: 'sqlite3.h' file not found"
MacOS 10.15.3 (Catalina)
Xcode 11.3.1 (1C504)
Target: iOS, 13.2
Integrating using CocoaPods

I am using pod `'SQLite.swift', '~> 0.12.2'` successfully but I am not able to use it with `sqlilte3/fts5`.

If I use add `pod 'sqlite3/fts5', '= 3.15.0'` in my Podfile, build will fail with 'sqlite3.h' file not found.

Please advise.

Many thanks in advance.

[2020-03-09 23:30] dbanik commented on #938
I am seeing the same issue. Would be helpful to have a solution.

[2020-03-20 14:47] TenMaKo commented on #989
[code]

Make the above modification in Coding.swift to fix this issue.

[2020-03-28 23:47] mstfabbstbr opened #992 "how to use unique?"
i don't want to let user, insert a duplicate value in table.. how to use unique?

[2020-04-04 15:31] #831 closed

[2020-04-07 01:22] zachwick commented on #992
@mstfabbstbr The [documentation](https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#column-constraints) for the `column` function shows how to use the `unique` parameter to create a constraint on the column.

If you need to create a unique constraint across multiple columns, then you'll want to look at the [documentation](https://github.com/stephencelis/SQLite.swift/bl

[2020-04-07 01:31] zachwick commented on #991
@theanhoo You may have some luck following the [example in the docs](https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#requiring-a-specific-version-of-sqlite) which shows how to use `SQLite.swift` with the `sqlite3/fts5` pod.

Also, you should ensure that after you've installed (via `pod install`) your various dependencies, you are opening your project via its Xcode w

[2020-04-08 02:40] zachwick commented on #984
@avnerbarr I don't believe that you can do this as you're attempting using the sqlite application commands. Instead, I might suggest using a [CSV parsing library](https://github.com/swiftcsv/SwiftCSV) to load your data and interact with it.

[2020-04-09 20:42] mstfabbstbr commented on #992
Hey, thanks a lot for this. That helps me a lot.. thank you.

On Tue, Apr 7, 2020 at 5:52 AM zach wick <notifications@github.com> wrote:

[2020-04-10 06:42] mstfabbstbr commented on #992
hey, thanks again for your email, i’ve one more question. when you create a database, it’s create in whole app, or just in that viewcontroller?

because i wanna use one of table i created in another controller, it’s possible?

[2020-04-15 08:08] NathanFallet commented on #988
Because your `db` object is defined in the `do` structure, you need to wrap everything in it (`db` is created in it so stays in it)

[code]

[2020-04-15 08:19] NathanFallet commented on #983
Here is an example, taken from my app `Delta: Math helper` which works fine in production:

It shows how to init database, connect to database, read data, write data and update data.

[code]

Usage:

[code]

[2020-04-16 09:58] pgawlowski opened #995 "Graphql SQLCipher integration"
I've got pretty fragile data to cache in a persitant way via grapqhl SQLiteNormalizedCache which is based on SQLite

I was thinking about integrating iOS SQLCipher in between however can not find any information if it's possible or if anyone ever tried this before? Any chance for help from your side?

[2020-04-17 03:04] xgjyjy commented on #987
me too

[2020-04-23 16:03] nferruzzi opened #996 "sorry about the question, but is this library still supported?"
From the opened PR and issues it doesn't look like it is, unfortunately Ive just discovered this nice lib and I can't decide if its a safe decision to use for a new project or not.
thanks in advance

[2020-04-24 16:37] Sevyls opened #997 "SQLiteDecoder & Codable with NULL Values"
Are null values actually supported by your SQLiteDecoder?

## Build Information

CocoaPods, SQLite.swift version 0.12.2
iOS 13.4, XCode 11.4.1

## General guidelines
I just tried to read an array of my table's contents, but then I got an exception.

In Coding.swift:235 I get an error by  QueryError.unexpectedNullValue.

Are null values within Codables supported?

[2020-04-27 07:26] rahulvyas commented on #989
where is this class  Coding.Swift ? can you please provide the class

[2020-04-27 08:42] kamzab95 commented on #989
I think it's SQLite.swift/Sources/SQLite/Typed/Coding.swift line: 131 (class SQLiteEncoder)

[2020-04-27 12:59] rahulvyas commented on #989
So we need to modify library source code ?

[2020-04-27 14:33] TenMaKo commented on #989
Yes it is.

If you want to use it with Codable and optional values, yes you do.

[2020-04-27 14:49] TenMaKo commented on #997
No. You need to handle it yourself.

I came up with this if you wanna try :

Put this somewhere
[code]

and change the following func in Coding.swift :

[code]

And then in `func encode(to encoder: Encoder) throws` in your object class definition, use encodeNullable for optional values.

Hope it will help :)

[2020-04-27 14:51] Sevyls commented on #997
Thanks for your support, will try that.

[2020-04-27 15:12] TenMaKo commented on #992
As stated in [documentation](https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#connecting-to-a-database), when you do `let db = try Connection("\(path)/db.sqlite3")` for the 1st time, it creates a database file at path "\(path)/db.sqlite3" so it's not a matter of controller, it's about accessing this file. So yes you can access your database from any controller, you j

[2020-04-28 05:05] rahulvyas commented on #997
I have added SQLIte.swift using SPM (Swift Package Manager). How do I update Coding.swift file code ?

[2020-04-29 05:18] susemi99 commented on #982
`import SQLite3` -> `import SQLite`

[2020-04-29 07:09] TenMaKo commented on #997
I don’t use SPM so I’m not sure about this but I think you can’t cause SPM import pre-built packages.
Maybe you will need to fork this repo, modify the file and then import the lib from your own repo :/
Again, it’s just a guess.

[2020-04-29 07:58] rahulvyas commented on #997
@TenMaKo Don't you think you should create a PR and then merge this fix into master. More people are facing the issue..

[2020-04-29 09:33] TenMaKo commented on #997
No sorry cause this is just a workaround. A clean fix should make standard Codable usage for this lib handle optionals correctly.

[2020-04-29 09:37] rahulvyas commented on #997
@TenMaKo got it thanks for clarification...

[2020-04-29 19:40] cristianosoliveira commented on #795
has any update of this issue?

[2020-05-05 20:42] afern247 commented on #627
iOS 13+ and it still shows the warning...

[2020-05-08 07:55] zhangjianjun056 opened #998 "Hello, may I ask the results of the search how the dictionary nested the dictionary, at the time of the query."
Hello, may I ask the results of the search how the dictionary nested the dictionary, at the time of the query.

Now：
{
"age": 18,
"personId":1,
"name": "zhangsan",
"height": 180,
"weight": "60",
"d_name": "wangcai",
"d_age": 2
}

Expectation：
{
"age": 18,
"personId":1,
"name": "zhangsan",
"height": 180,
"weight": "60",
"dog": {
"d_name": "wangcai",
"d_age": 2
}
}

[2020-05-10 00:43] juanjoseluisgarcia commented on #835
@touee I do not know if it is a good idea. I just know that it works. Thanks

[2020-05-10 05:01] bitflying opened #999 "Error: Failed to build SQLite for a executable swift package"
## Build Information

- Xcode v11.3.1
- macOS 10.15.4

## General guidelines
- steps
[code]
[3/3] Linking SQLiteDemoExecutable
Hello, world!

- add .package(url: "https://github.com/stephencelis/SQLite.swift.git", from: "0.12.0") to Package.swift
- add target dependencies: ["SQLite"]),
[code]
I got : 3 warnings and 16 errors generated.

The executable can not be built!

- Error Messages:
---------

[2020-05-11 13:36] vbklv opened #1000 "'sqlite3.h' file not found"
Error when building a project, which was building fine last week with the same project and Podfile settings:

**_'sqlite3.h' file not found_**

_1. In file included from /project/Pods/SQLite.swift/Sources/SQLiteObjc/SQLite-Bridging.m:26:_

## Build Information

- SQLite.swift 0.12.0 and 0.12.2
- Version 11.4.1 (11E503a)
- How do do you integrate SQLite.swift in your project?
    - CocoaPods

## Ge

[2020-05-11 14:35] vbklv commented on #1000
Resolved by replacing in Podfile:
_pod 'SQLite.swift'
pod 'YapDatabase/SQLCipher'_
with
_pod 'SQLite.swift'
pod 'YapDatabase/SQLCipher'_
and then back to original, while running _pod install_ between the changes.

[2020-05-12 09:32] Strife91 opened #1001 "Destructive Migration"
Hello,

On Android Room there is a fallback method called "fallbackToDestructiveMigration()" that is triggered when database versions doesn't match and no migration schema can be found.

It simply deletes the old database and creates a new one to prevent the app from crashing.

I wonder if there is a way to recreate this behaviour in sqlite.swift? Code examples are very much appreciated.

[2020-05-14 11:36] vbklv commented on #1000
OK, the issue actually persists.
The app builds and installs when it is already installed previously on the device. But it won't build or install on simulator.

<img width="364" alt="Screenshot 2020-05-11 at 15 29 47" src="https://user-images.githubusercontent.com/8736853/81929760-ddd61400-95e7-11ea-9d80-568e0fbfb238.png">

[2020-05-14 12:47] vbklv commented on #1000
Resolved by fixing SQLCipher version as described here:
https://github.com/stephencelis/SQLite.swift/issues/986

[code]

[2020-05-14 12:47] #1000 closed

[2020-05-15 20:36] jake-b opened #1003 "Explicit "IS" and "IS NOT" operator"
Possibly quick/easy feature request:

Sometimes you are comparing an nullable Expression to an optional Value and you explicitly want the "IS" or "IS NOT" operator.

Currently SQLIte.swift will only give you the IS/IS NOT operator if your rhs Value is nil.

I'm not sure the best way to implement this.  You could overload another operator such as "==="  and "!==" perhaps... But I'm sure there's a t

[2020-05-16 00:07] Dnathan33 commented on #999
I was experiencing the same issue.
No such module 'SQLite' when archiving. cocapods

[2020-05-18 10:03] lorenzomalferrari commented on #813
Where did you apply the patch? I have the same problem and I can't solve it

[2020-05-19 12:11] mickael-menu commented on #938
You need to disable the file protection on the folder containing your database, because it gets encrypted when the device is locked.

[code]

More info here: https://github.com/groue/GRDB.swift/blob/master/README.md#data-protection

[2020-05-21 01:36] Deracination commented on #795
Seeing the same problem which kills app

[2020-05-26 09:23] #1001 closed

[2020-05-26 14:27] fewlinesofcode commented on #961
You should also `import SQLite3`

[2020-05-26 15:58] Sevyls opened #1004 "Pluck Codable"
Is it possible to pluck a single Codable into a single Object, so that the result is not an array but your codable struct/class?

[2020-06-19 12:08] docpitz commented on #986
In the meantime SQLCipher 4.4.0 is active. Is there any way to stay up-to-date? Especially with an encrypted database you should try to stay as up to date as possible.

[2020-06-19 22:19] pwightman commented on #980
Both SwiftUI and SQLite have a `View` type, so the compiler is confused about which one to use. You either need to not import SQLite and SwiftUI in the same file, or be explicitly put `SwiftUI.View` anywhere it’s supposed to be a View from SwiftUI. I would personally recommend not putting your SQLite code in the same file as your SwiftUI code.

[2020-06-20 18:54] Deadly-Elmo commented on #762
Hi,

I might sound stupid saying this, but I was just wondering what you did exactly (like what you mean by "set all the variables and just open the database instead of creating". Thanks!

[2020-06-20 19:39] AdvaithRege opened #1005 "Referring to a database from one view controller in another view controller"
## Issue

I'm using the latest SQLite.swift on the latest xcode. I'm new to Swift and ran into an issue. I created a database in one view controller. What I need to do is access the database in another view controller, and update a specific user based on a clicked button. I was just wondering how to open up the database in another view controller and access the users and the attributes (so I can u

[2020-06-21 18:59] #1005 closed

[2020-06-22 09:40] docpitz commented on #986
I have built a simple fix for this problem. Can you please put it into your master?

[2020-06-22 15:34] mathetesxristou opened #1007 "FTS5Config Unavailable on Linux"
SQLite.swift (0.12.0) works well on the Linux implementation of my project, until I added an FTS5 search function. FTS5 works well on macOS. However, I get the following error on Linux:

error: use of unresolved identifier 'FTS5Config'

Are FTS5 extensions not available in SQLite.swift when running on Linux? If it is not currently supported, are there plans to include support for FTS5 on SQLite.sw

[2020-06-25 12:28] RuoG opened #1009 "Xcode 12 Beta SQLite.swift Can't Build"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected.
- How do do you integrate SQLite.swift in your project?
    - CocoaPods

## General guidelines

- Be as descriptive as possible.
- Provide as much information needed to _reliably reproduce_ the issue.
- Attach screenshots if possible.
- Better yet: attach G

[2020-06-25 17:11] danl3v commented on #1009
Haven't seen these issues, but made some fixes here: https://github.com/stephencelis/SQLite.swift/pull/1008

[2020-06-28 08:19] volatilegg commented on #1009
@RuoG I faced the same `Redefinition of ...` issue, deintegrate and reinstall pod work for me

[code]

[2020-06-28 18:13] alanhaw opened #1010 "createFunction not working with functions with 3 or 4 arguments"
sqlite.swift version: 0.11.6 - from ChangeLog.md, 0.12.2 from info.plist bundle version (downloaded Feb 20/2020)
XCode version: 11.3.1 (11C504)
macOS 10.14.6
sqlite.swift was integrated with the project manually

With the following code:

[code]
The code compiles except that the definition of test3 reports an error at the beginning of "{ anumer".
It seems to be that createFunction works with 1 or

[2020-06-29 06:17] RuoG commented on #1009
Thanks，this bug is fixed。

https://github.com/stephencelis/SQLite.swift/pull/1008/commits/385ce0c1b9870c712e712491caa528591988be3e

[2020-07-02 07:11] CodeMan8 commented on #990
have you find and solution ?

[2020-07-03 04:45] brendand commented on #996
I would love to know this too as I'm considering using it.

[2020-07-07 14:45] teodorpenkov commented on #990
Have you find any solution?

[2020-07-07 15:31] CodeMan8 commented on #990
yeah I have found solution the problem is about sqlite library first remove
all derived data from xcode then delete all pod files in your project and
.xcworkspace file

After that last thing you have to do init pod file and install again sqlite
library
it will be update sqlite library files smoothly

7 Tem 2020 Sal 17:45 tarihinde Teodor Penkov <notifications@github.com>
şunu yazdı:

[2020-07-10 10:45] satishVekariya commented on #111
unable to set `db.foreignKeys = true` !!!

[2020-07-10 14:55] raf-fun commented on #983
If I had multiple tables in my database with multiple columns would it be better to just add the top initialization you preformed into its own class to keep this class from getting to big? @NathanFallet

[2020-07-10 16:46] NathanFallet commented on #983
@raf-fun You can organize your code the way you want, here it is just an example code. If you want to make a class dedicated for each table, you can. But keep only one instance of the `Connection` object (shared across your classes).

[2020-07-10 16:50] NathanFallet commented on #996
The last commit is from January, it's not that old. I'm using this library in a lot of iOS apps, and it works perfectly. So I think you should be able to use it without any problem.

[2020-07-10 17:00] NathanFallet commented on #987
Try to encode your String array to json and store the json output (best solution to store an array)

[code]

![Screen Shot 2020-07-10 at 6 59 27 PM](https://user-images.githubusercontent.com/30439790/87179730-7e426f00-c2df-11ea-98c5-0f62092e511f.png)

[2020-07-12 02:46] RuoG commented on #1009
![截屏2020-07-12 上午10 41 17](https://user-images.githubusercontent.com/49544632/87237801-ef436d00-c42c-11ea-9631-8be61bcfc1ee.png)
![截屏2020-07-12 上午10 41 03](https://user-images.githubusercontent.com/49544632/87237802-f10d3080-c42c-11ea-9bf0-944e98e2b76c.png)

[2020-07-14 05:57] massimilianochiodi commented on #999
I have the same issue

[2020-07-14 08:53] pujiaxin33 commented on #987
I also encountered the same problem before, adding extension to Array conform `Value`
Protocol, you can directly store [String] type data.

I encapsulated the code into the `SQLiteValueExtension` library, you can introduce it through Cocoapods, you can directly store the data of the [String] type.

Specific details can be found in the `SQLiteValueExtension` Github homepage:[SQLiteValueExtension](h

[2020-07-15 14:48] nferruzzi commented on #996
for me its an hard choice; at the end I used it for a prototype and I had to merge a PR from another user (the one supporting upsert). I got no problems at all and the lib "just worked" for my simple scenario, still I had to commit few fixes to use it with swift packages (If I remember correctly).  But IMHO here are way too many Issues and PR that looks important without a single comment from the

[2020-07-15 15:08] teodorpenkov commented on #990
I experience similar issue with Carthage, sometimes it's building successfully and sometimes it's not, still struggling to figure out why, but it sounds similar to your issue, unfortunately the workaround it's not working for me

[2020-07-17 22:46] markm77 commented on #986
I get this problem with ```pod 'SQLite.swift/standalone'```.  Any workarounds?

[2020-07-20 06:48] marain87 commented on #1009
I got the same problem with this.

Last time I used this #986 to solve on Xcode 11.5

pod 'SQLCipher', '= 4.2.0'
pod 'SQLite.swift/SQLCipher', '~> 0.12.2'

But it isn't working on Xcode 12 beta 2 now…

[2020-07-23 16:29] Mactacs opened #1012 "How to create a derived query?"
Hi. I'm struggling in creating a query that needs a derivation. Here is my SQLite query :

[code]

I converted this query using this dependency and it produces different result compare above query. I don't know what I was lacking. Please help thanks.

Here is my query :
[code]

[2020-07-24 02:30] FalconBFR opened #1013 "Support : How to Update if exists, insert if not"
Build Information: IOS12 Xcode V11.0

Issue: How to update if exists, insert if not. My Current implementation with 'try' and 'catch' does not work as
'update' seems to update the whole db instead of saving the data properly.

My Current Implementation:
[code]

Expected Result:

Current Result:

# Code also sometimes produce error code 5

[2020-07-24 03:29] FalconBFR commented on #405
Hey @jberkel  that is not very helpful. Same problem here 4 years later

[2020-07-24 03:44] FalconBFR commented on #1013
Solved:
One Option: Do Insert or replace into
[code]

Other methods that I am still investigating and need help with:
As all I am doing is incrementing a counter, maybe I can user the += method or counter++ method

[2020-07-24 03:44] #1013 closed

[2020-07-26 08:51] Trannosaur opened #1014 "No documentation on how to use Carthage with submodules in Index.md"
https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md

There's info for using CocoaPods with FTS, but nothing for say carthage etc.  -- hahahahah, I tried a naive github "sqlite3/fts5" ~> 3.15.0 in my cartfile but I wouldn't even no where to start figuring this out.

[2020-07-26 09:28] #1014 closed

[2020-07-26 09:28] Trannosaur commented on #1014
eh

[2020-07-26 09:33] Trannosaur opened #1015 "pod 'SQLite.swift/standalone' doesn't build any more"
## Build Information

- I tried with both 0.12.0 and 0.12.2
- Xcode 11.6
- How do do you integrate SQLite.swift in your project?
    - CocoaPods

## General guidelines

- If I have this line:     pod 'SQLite.swift', '~> 0.12.2' then I can build the project, however, if I use     pod 'SQLite.swift/standalone', '~> 0.12.2' then the project won't build due to errors like: "Ambiguous use of 'SQLITE_DE

[2020-07-26 09:42] Trannosaur commented on #1015
Just for funsies I hacked in the fix and changed Connection.swift:590 to flags |= **sqlite3**.SQLITE_DETERMINISTIC,

But then when you add pod 'sqlite3/fts5', '= 3.15.0'  # SQLite 3.15.0 with FTS5 enabled to the Podfile a bunch more issues arise (of the exact same nature)

[2020-07-27 23:01] juanjoseluisgarcia commented on #835
This is happening a lot. The app crashes. I am going to try to use a sync thread and if not I will have to use [GRDB](https://github.com/groue/GRDB.swift) with WAL mode.

[2020-07-30 02:44] izaguirrejoe opened #1016 "Feature Request: Order by Rank"
As far as I can tell, you can't currently run a Full-text search and order by rank in SQLite.swift.

[code]

Is this feature currently available? If not, how do we order the results of a Full-text search by relevance? Is there currently a workaround?

[2020-07-30 10:14] norbdev commented on #686
bump

[2020-07-30 10:17] kwstasna commented on #686
@norbdev I used https://github.com/groue/GRDB.swift eventually :P

[2020-08-02 20:08] Firas-Shrourou opened #1017 "Filter is not working when Inserting Encodable Values"
Inserting using [String: String] is working fine like this:
[code]
But when filtering the table using .filter(Key == "Some_Key") it will not work

You need to use it like this to work

.filter(Key == "\"SomeKey\"")

What is the problem here ?

[2020-08-03 09:48] Firas-Shrourou commented on #1017
Seems that we need to make a change in the code

[code]

[2020-08-03 13:36] TenMaKo commented on #1017
Yes. This is a quickfix I proposed. It fixes the issue about strings being inserted as _"your_string"_ instead of _your_string_.

[2020-08-03 14:00] Firas-Shrourou commented on #1017
You need also to clean folder and rebuild.

[2020-08-03 14:02] TenMaKo commented on #1017
Yes, as it won't correct already inserted data.

[2020-08-03 14:04] Firas-Shrourou commented on #1017
is there any plan to fix this inside the distributed package/ pod in the future?

[2020-08-03 14:13] TenMaKo commented on #1017
This repo doesn't seem to be maintained anymore and I'm in no way connected to the maintainer.
In other opened issues related to Codable, you will find workarounds to be able to use this protocol but it's not a proper implementation so I have no plan about creating a PR or fork.
Sorry :/

[2020-08-03 14:57] juanjoseluisgarcia opened #1018 "No threadsafe makes it unsuitable for iOS"
This library is not thread-safe and send error of 'database locked' if two threads access the db at the same time making the library unfit for iOS development. Since it is unlikely that the author is going to fix this I am switching to [GRDB.Swift](https://github.com/groue/GRDB.swift). This Repo is abandoned.

[2020-08-04 15:25] dbannach commented on #1016
I was looking for the same feature. It seems you can just append `.order("rank") to your query`:
[code]

But how can we define different weights for columns? Like here:
[code]

[2020-08-04 16:08] izaguirrejoe commented on #1016
It seems to work. Yeah, the next step is defining weights for the columns.

[2020-08-04 18:29] dbannach commented on #1016
When I define 'rank' as an expression of String type it lets me use the match() function on it. Not very Swift-y but it seems to work:
[code]

[2020-08-05 03:52] izaguirrejoe commented on #1016
Actually, neither seem to do anything. Strange.

[2020-08-05 03:52] izaguirrejoe commented on #1016
I replaced "rank" with some nonsense string and the result is the same.

[2020-08-06 21:48] danl3v commented on #1009
Beta 4 should fix this issue

[2020-08-11 02:56] fishunt commented on #1009
hello, My Xcode Has been update to Beta4,But This issue still happen!

[2020-08-13 11:24] jake-b commented on #1003
I tried my hand at pull request #1019 to implement this request.

[2020-08-13 21:52] Ucdemir commented on #1013
It is  not update of existend data

[2020-08-15 14:01] updev0612 commented on #685
REGXP does not work.
SELECT * FROM ABLE WHERE word REGEXP '^PR[A-Z][A-Z]TY'

it is working sqlite browser but wrapper does not support this.

[2020-08-17 11:25] shraddhachoubey opened #1020 "Force Cast Violation alert as you are using try! without catch. Can you correct it."
public var userVersion: Int32 {
        get { return Int32(try! scalar("PRAGMA user_version") as! Int64)}
        set { try! run("PRAGMA user_version = \(newValue)") }
    }

[2020-08-18 03:57] nitrag commented on #986
Bump @casperson

[2020-08-21 06:36] Hung-Hsun commented on #1009
Still has this issue with Xcode Beta5!

[2020-08-27 03:48] Hung-Hsun commented on #999
I encounter this issue in Xcode 12 Beta 6. Is there any workaround about this?

[2020-08-29 14:35] diogo10 commented on #999
Same here

[2020-09-02 12:44] andrei-moldovan-dev commented on #1009
Same issue on Xcode 12.0 beta 6.

[2020-09-09 02:48] masterprohd commented on #982
2020-09-09 09:47:36.019497+0700 YogaAppleTV[222:8547] open on /var/mobile/Containers/Data/Application/4C951721-F6D1-4225-ACDF-D18ABD44D4E1/Documents/fiveYoga.db: Operation not permitted
Unable to copy file
2020-09-09 09:47:36.023707+0700 YogaAppleTV[222:8547] [logging-persist] cannot open file at line 43353 of [378230ae7f]
2020-09-09 09:47:36.023820+0700 YogaAppleTV[222:8547] [logging-persist] os_

[2020-09-09 14:24] EduardoIbarra commented on #1009
Still happening on Xcode 12.0 beta 6 (12A8189n)

[2020-09-13 09:35] andreasreuter commented on #858
@sourabhsriom I receive same issue. Can you share your solution?

[2020-09-13 16:01] Suba-Github commented on #949
@gouravgupta72 @stephencelis

I am using Xcode 11.3.1 and pod file as SQLite.swift/SQLCipher (0.12.2)

My Old version application was using 0.11.4.

For the new upgraded version of application for which I am working on, I have changed the SQLIte.swift/SQLCipher version as 0.2.2.
But as mentioned here when doing upgrade, I am facing Database deletion error ---> file is not a database (code: 26)

Ca

[2020-09-15 21:56] mobinzk commented on #999
Same here with Xcode 12 Xcode 12 GM seed any solutions?

[2020-09-15 22:36] mobinzk commented on #1009
Same issue with Xcode 12 GM seed any solutions?

[2020-09-16 07:09] docpitz commented on #1009
I'm not sure, but maybe #1006 will help you

[2020-09-16 15:41] Pulichev commented on #1015
I have found a temporary solution.
Check https://github.com/stephencelis/SQLite.swift/pull/970

My podfile now:

[code]

[2020-09-16 15:43] Pulichev commented on #1009
I have found a temporary solution.
Check https://github.com/stephencelis/SQLite.swift/pull/970

My podfile now:

[code]

So, u have to install version from master.

[2020-09-16 18:22] ryanholden8 commented on #1015
@stephencelis - Hope this message finds you well! You're probably scrambling with supporting the new iOS 14 release and cramped for time. I know I am haha. Anyway, wanted to call your attention to this post where it looks like the fix for supporting Xcode 12 is already in master. Would it be possible to cut a release? Thanks for considering! Maybe #1006 would also fix the root issue?

@Pulichev -

[2020-09-17 07:50] chrisozenne commented on #1009
Using **SQLCipher** w/ **Xcode 12 GM**, I ran into a couple of different issues:

- Error: "Ambiguous use of `SQLITE_DETERMINISTIC`".
- Error: "Could not build module 'SQLite3'" in `SQLiteObjc.h` when trying to `@import SQLite3;`
- Multiple errors regarding: "Redefinition of `sqlite_...`"

What resolved **all** of these issues for me was to change the import statement in `SQLiteObjc.h`:

From:
[co

[2020-09-17 10:48] jyjblrd commented on #1018
I also had this issue. This part of the documentation explains how to solve this issue: [Documentation](https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#thread-safety)

[2020-09-17 10:51] jyjblrd commented on #1009
This cartfile works for me:
`github "stephencelis/SQLite.swift" "385ce0c1b9870c712e712491caa528591988be3e"`

[2020-09-17 10:54] juanjoseluisgarcia commented on #1018
Thanks for the heads up. I did not do that. Anyways I already switched to GRDB that includes the WAL mode with a connection pool, since I do not trust this library will be around for much longer. But again, thanks for this. It will serve me in the future.

[2020-09-17 10:57] jyjblrd commented on #1018
Yeah I think this project is abandoned, the current release still doesn't even compile on Xcode 12 (which isnt even in beta anymore). Its a shame because I really like how it this library makes sqlite typesafe.

[2020-09-17 11:08] juanjoseluisgarcia commented on #1018
I still have the old code in an old branch and that branch compiles and executes in Xcode 12. What I do is to use SPM.

[2020-09-17 11:10] groue commented on #1018
GRDB is quite type safe as well. And it deals with concurrency in a way that prevents troubles, and uses the database quite efficiently. Take control of your database: see [Why Adopt GRDB?](https://github.com/groue/GRDB.swift/blob/master/Documentation/WhyAdoptGRDB.md) if you want more details.

[2020-09-22 09:38] palle-k opened #1023 "Future of this Project"
It seems that there have not been updates to this project in quite some time with the latest commit being 10 months ago and the latest CocoaPods release being in June of 2019.
Pull requests are not being merged and issues are not being addressed to the point where it is no longer building with the latest public Xcode release without some workarounds.

@stephencelis do you have any intention of upd

[2020-09-22 09:55] juanjoseluisgarcia commented on #1023
Waiting for the reply of the author I can confirm that if you use this library with Swift Package Manager it builds in Xcode 12. I have the feeling that Cocoapods since never officially supported by Apple we all should migrate to Swift Package Manager. Anyways if the library is not going to be updated is a risk to keep using it.

[2020-09-22 10:12] palle-k commented on #1023
SwiftPM is of course the officially supported solution but I are using the SQLCipher subspec, which I cannot install through SwiftPM. Also, my project uses CocoaPods for everything else and CocoaPods is used to generate acknowledgements for all 3rd party libraries, so SwiftPM sadly is not a viable option for me.

[2020-09-30 19:33] bishrant commented on #716
This still exists as of Xcode 12.0.1.
![image](https://user-images.githubusercontent.com/4143738/94731088-d65e9f80-0329-11eb-9402-a562fc492cb8.png)

[2020-09-30 19:35] bishrant commented on #627
iOS 14 with iOS13.1 as target deployment level is also showing the same warning.
![image](https://user-images.githubusercontent.com/4143738/94731312-2dfd0b00-032a-11eb-9689-855a1239e95e.png)

[2020-10-04 02:05] afern247 commented on #627
Bro I just moved away from this lol Use Core Data and that's it.

[2020-10-08 09:00] Wolfaks opened #1025 "Like does not work with Russian symbols?"
Hello. I use like with lowercaseString and Russian symbols but LOWER doesn't convert them to lowercase in the query. I tried to create my own function but it didn't work for me. How to solve this problem? Thanks.

// in name value: ПРИВЕТ from database
let search_name = "Привет"
user.filter(name.lowercaseString.like("%" + search_name.lowercased() + "%"))

[2020-10-08 09:02] Wolfaks commented on #1025
Having studied the documentation of SQLite, I learned that you need to connect the ICU library. How can this be done in this plugin? Thanks.

[2020-10-08 11:43] Wolfaks opened #1026 "How to make a dynamic, calculated column?"
Hello.
How i can to make a dynamic, calculated column? Which is calculated using other columns and not stored in the database.
Which can be used for data output and sorting.

Example:
`SELECT a+b as c from test ORDER BY c ASC;`

Thanks.

[2020-10-11 23:53] juanjoseluisgarcia commented on #1026
Hi @Wolfaks this project seems to be completely abandoned and the author is ignoring absolutely all comments. He is active in a course and abandoned this repo. My suggestion to you is that you use another library like GRDB.Swift that is fully maintained.

[2020-10-12 07:41] newtimber commented on #1026
You just extract the data from your sql database into your local table, calculating the data for extra column as you go along. This is not something that SQLite will do for you.

SQLite is not being properly maintained but it works well if all you want is an efficient bridge between Swift and SQL.

I looked at GRDB but it seems to be designed around applications where usually an entire database re

[2020-10-12 08:04] groue commented on #1026
@newtimber, GRDB indeed makes it handy to extract entire records, since it is such a common use case. But you can export a small number of fields as well. Since @Wolfaks wants a single column, this can give:

[code]

See [GRDB Requests](https://github.com/groue/GRDB.swift#requests) for more information.

[2020-10-12 08:17] juanjoseluisgarcia commented on #1026
And on another unpopular opinion, it also offers a pure SQL interface where you can specify your SQL query which I personally prefer.

[2020-10-12 08:52] newtimber commented on #1026
SQLite has compile-time type checking which I don't think GRDB has. In your example above, is there a check that the scoreColumn and bonusColumn are actually Ints?  If bonusColumn has actually a boolean, saying whether the player ought to be given a bonus and you should be using bonusAmount for example, will your code run OK but produce the wrong result?

[2020-10-12 09:12] groue commented on #1026
Yes, @newtimber, it will run OK, and produce the results that were asked (summing the `0` and the `1` integers stored in the `bonus` column to the values stored in the `score` column). This may sound horrible to you. But this is the difference between a library that pretends that "boolean columns" exist (hint: they do not), or that booleans must never be interpreted as integers (hint: SQL life can

[2020-10-12 20:04] RLovelett commented on #305
I just wanted to provide a `FTS3Pattern` I implemented based on @groue's solution from GRDB.swift translated to SQLite.swift.

[code]

Additionally, here is an extension to `VirtualTable` that allows it to be used as a drop in replacement for a `String`.

[code]

[2020-10-13 05:52] groue commented on #305
@RLovelett, thanks for the mention of GRDB. Beware that the code you provide embeds a raw string right into SQL, which should always be avoided:

[2020-10-20 03:25] enamor opened #1028 "FailableIterator next() crash"
extension FailableIterator {
    public func next() -> Element? {
        return try! failableNext()
    }
}

Thread 1: Fatal error: 'try!' expression unexpectedly raised an error: disk I/O error (code: 10)

[2020-10-21 14:38] lucaslaincompass commented on #855
Any news about this?

[2020-10-24 17:08] juanjoseluisgarcia commented on #1028
This occurs when more than one thread is trying to access the DB. This library is not thread-friendly. My suggestion is that you create one global connection (in the AppDelegate for example) and use that connection all over your app.

[2020-10-26 13:51] adam0x01 commented on #980
My workaround is to put the SQLite related codes to a new separated swift file, then invoke `func` directly in your main SwiftUI file.

[2020-10-27 18:12] stuart312 commented on #1010
Hi @alanhaw, did you figure out a workaround or solution to this problem? I'm stuck with the same need for a 4-argument function and I don't really want to use the un-type-safe way

[2020-10-27 19:06] alanhaw commented on #1010
In the circumstances I was in, I needed 4 arguments but they were related. So I re-wrote my code to group the arguments as pairs, and thus passed only 2 arguments into createFunction. But this is not a general solution.

[2020-10-30 09:26] Bruce9487 opened #1029 "I know delete one table data, but have any idea to clear sqlite all data?"
I want to ask if I want to clear sqlite all data, only one way to call delete table data in each table?
like following code.

[code]

[2020-11-05 10:30] a-chhiong commented on #986
@docpitz

66d4c76, this one works for me in Xcode 12.1 with Podfile like this...
pod 'SQLCipher', '~>4.2.0'
pod 'SQLite.swift/SQLCipher', '~>0.12.0'

Is this the final / official solution?

[2020-11-11 07:04] haithngn commented on #1009
Hi guys, this [workaround](https://github.com/Carthage/Carthage/blob/master/Documentation/Xcode12Workaround.md) worked for Xcode 12.1 (12A7403)

[2020-11-11 11:10] pgawlowski opened #1031 "Is this project alive?"
Last update: year ago
25+ issues from this year
Bunch of issues with new xcode.
Bunch of pull requests, all failing on travis.
Lack of communication.

My only question is: is this project alive? Cause I do not want to relay on something that is already dead and is causing a lot of trouble to handle.

[2020-11-11 11:23] newtimber commented on #1031
I wouldn't start a new project with it; but if you're already using it and the issues don't effect you, then continue using it as it's a lot of work to change to something else.

[2020-11-12 11:29] georgbachmann commented on #928
Hey... did you ever figure out the reason for your diskimage to be malformed? I see the same problem in my logs, but can't reproduce it either... :(

[2020-11-13 18:02] juanjoseluisgarcia commented on #1031
I was using it and got rejected on the app store because the app was unstable with 'database locked' error messages. I switched to GRDB.Swift

[2020-11-15 11:42] Yigang0622 commented on #1029
Delete the db.sqlite3 file directly in the Document folder of your app and you will get everything erased.

[2020-11-20 03:02] adnanafzal565 opened #1032 "Unable to create database"
I am getting the following error from the master branch while creating a connection to the database:

`cannot open file at line
open(//my_db.sqlite3)
The operation couldn’t be completed. (SQLite.Result error 0.)`

I wanted to ask, do I have to give some permissions to create a database?

If yes, kindly let me know which ones and how to add them.

Thanks.

[2020-11-25 06:45] georgbachmann commented on #928
Sorry to ping you again @chichaykin . Can you tell me if you figured out the root cause of the problem? And how did you fix it?
Also... any idea how our database disk image turned malformed? I can also not reproduce it :(

[2020-12-02 09:32] adnanafzal565 opened #1033 "Check if filter value exists"
Hi.

I want to know is there any way I can check if the filter() function returns a record or not ?

[2020-12-05 12:53] Kashif-Rabbani commented on #627
@afern247 what do you mean by Core Data?

[2020-12-09 10:11] anish-firminiq commented on #795
has any update of this issue?

[2020-12-27 10:05] avnerbarr opened #1036 "getting exception on iterator"
getting a crash here when the DB is open in 2 processes:

[code]

[2020-12-27 10:05] avnerbarr commented on #1028
issue also occurs if the db is open in 2 processes

[2020-12-28 16:58] Ryamonster10 commented on #1009
Hello, Still not working on the offical Xcode 12.3 application with no mods. Getting the same error.

[2020-12-28 16:59] Ryamonster10 commented on #1009
<img width="568" alt="Screen Shot 2020-12-28 at 11 59 27 AM" src="https://user-images.githubusercontent.com/45019531/103230724-271f6d80-4904-11eb-8e3e-bc3e797b640f.png">

[2020-12-28 18:28] docpitz commented on #1009
Here ist the mod: [https://github.com/docpitz/SQLite.swift](https://github.com/docpitz/SQLite.swift)

[2020-12-28 23:36] Ryamonster10 commented on #1009
Thanks, I will try it out soon and let you know my results.

[2020-12-29 21:43] juanjoseluisgarcia commented on #1036
SQLite blocks the file when you access it. You need to keep a global reference to the connection to avoid this kind of issues. On another matter of things, this repo is abandoned. The Author is involved in some kind of online teaching courses and even though he has activity on other repos he seems to not have the courage to announce he will not be continuing with this one. My advice is that you sw

[2020-12-31 08:16] JetForMe opened #1037 "Add support for UUID type?"
## Build Information

- Version 0.12.2, installed via Carthage.

## General guidelines

Could we get support for `UUID`? I’m working on adding it, and it seemed that SQLite supported it natively, but I think Vapor just created my table with that as the type name. I'm trying to figure out what it really is underneath. Ah, it must be string. Pity, that's wasteful of space.

[2020-12-31 08:34] JetForMe opened #1038 "Creating a DateFormatter for every Date?"
Just perusing the code, in `Foundation.swift`, `extension Date`, it seems a `DateFormatter` object is created for every `Date` created. Perhaps that should be `static`? I believe they're thread-safe once converted, if unmodified.

[2021-01-03 01:42] Quailcreek commented on #1031
Hi  juanjoseluisgarcia,
I'm looking at converting several of my apps from SQLite.swift to GRDB. Would you be willing to give me a hand getting stared?

[2021-01-03 10:09] newtimber commented on #1031
I'm just in the progress of converting and finding it very time consuming as for backwards compatibility, you have to keep the database structures the same and all the indentations are different as you have to indent the code more with GRDB. Added to which you have to convert entire projects at once as you cannot have GRDB and SQLite running at the same time. In retrospect, it would have been a be

[2021-01-04 20:43] austenstrine opened #1039 "Will not build on iOS 14 XCode 12"
I'm using Xcode 12.3, and affects devices on iOS 14+.
Here is the version of SQLite.swift I am using in my podfile:
    pod 'SQLite.swift/SQLCipher', '~> 0.12.0'

This was working 3-4 months ago when I checked last. Now it gives me compiler errors:

    SQLCipher/SQLCipher.framework/Headers/sqlite3.h:678:8: error: redefinition of 'sqlite3_file'
    SQLCipher/SQLCipher.framework/Headers/sqlite3.h:7

[2021-01-04 23:51] juanjoseluisgarcia commented on #1031
@Quailcreek @newtimber My suggestion for migrating from SQLite.Swift to GRDB is to use the SQL 'flavour' of the library. That is the one that allows us not to rewrite the entire database and it is the quickest path when migrating. I have found.

[2021-01-10 23:59] Quailcreek commented on #1031
Thank you, juanjoseluisgarcia. After beating my head against the monitor I have come to the same conclusion.

[2021-01-11 09:51] khsora34 commented on #1039
We did this for our project: https://stackoverflow.com/questions/64803179/how-do-i-avoid-build-errors-when-i-include-sqlcipher-pod-in-swift-project/65020426#65020426.
You have to download the SQLite.swift library and used it locally, and adding SQLCipher as an external dependency.

[2021-01-15 01:46] dennis-alpine commented on #1038
If you're referring to the global variable, `public var dateFormatter: DateFormatter = { /* return formatter */ }()`, it already acts like a static.  If it was written as a getter, `public var dataFormatter: DateFormatter { /* return formatter */ }`, then that wouldn't be good.

[2021-01-15 03:12] JetForMe commented on #1038
Oh, sorry, I thought it was part of `extension Date`, didn't realize it was outside the scope of that. Nevermind!

[2021-01-15 03:12] #1038 closed

[2021-01-26 12:43] ANGEL1YS commented on #1039
still had same issue redefinition of bla bla bla, am i miss something ?

[2021-01-26 15:58] khsora34 commented on #1039
The answer in stack overflow worked for our project, dunno any further...

[2021-02-01 10:45] jiejueld commented on #1039
pod 'SQLCipher', '= 4.2.0'
pod 'SQLite.swift/SQLCipher', '~> 0.12.2'

and change code in 'SQLiteObjc.h'

change line26: **@import SQLite3**; to  **@import SQLCipher;**

this is work for me.

xcode 12.2 mac mini m1

[2021-02-04 11:38] khsalman commented on #813
Still having the crash in XCode 12.4. I was using multiple thread. On single thread it works fine but crash on using multiple threads

[2021-02-04 18:31] DedicatedDev opened #1040 "REGXP don't work."
Recently I've used this wrapper for dictionary.
My Search engine are using regxp to filter data.

SELECT word FROM TWL06 WHERE word REGEXP '^(.*?[AEP]){2,}'
this is working on the db browser perfectly.
but it does not work with this wrapper.

[2021-02-05 03:36] DedicatedDev commented on #1040
find solution finally from python example.

[2021-02-05 03:36] #1040 closed

[2021-02-15 17:11] Ankit-Aggarwal commented on #928
Hey,
Any update on the issue.
This issue has increased for us on latest silicon mac.

[2021-02-16 06:49] georgbachmann commented on #928
For me the issue was that I did replace the database but only the .db file but did not remove the -shm and -wal files...
Maybe that help for you?

[2021-02-23 19:02] akda5id commented on #961
Thanks fewlinesofcode. This should be added to the documentation https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#handling-sqlite-errors

[2021-02-27 05:13] izaguirrejoe commented on #990
Any word on this error? Can't run tests....

[2021-03-08 12:24] KalouH opened #1041 "162285"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue. **0.12.2**
- Mention Xcode and OS X versions affected. : **12.4**
- How do do you integrate SQLite.swift in your project?
    - manual
    - CocoaPods
    - Carthage
    **X** Swift Package manager

## General guidelines

- Be as descriptive as possible.

Impossible to build a project with SQlite.swi

[2021-03-09 20:47] juanjoseluisgarcia commented on #1041
This project has been abandoned and not actively maintained. The author has not had the decency to indicate it as per other open source libraries. He does not have to maintain it but at least this project was used for long enough people for a serious developer to put a note. So in the future do not trust any open source work from this author. There are other alternatives that might be good for you

[2021-03-11 10:09] KalouH commented on #1041
Thank you very much for your answer.

I will do it using directly sqlite3 API. It will be safer for me.

[2021-03-13 19:44] crspybits opened #1042 "App crashes while doing background database operations"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
0.12.2

- Mention Xcode and OS X versions affected.
iOS 14, Xcode 12.4

- How do do you integrate SQLite.swift in your project?
- Swift Package manager

I am deploying test builds of my app on TestFlight. The app is designed to use background URLSession's to do uploading/downloading from a server whi

[2021-03-13 19:52] crspybits commented on #1042
Searching for this issue, I'm finding others recommend not keeping your SQLite database in a shared group container. Which *is* something I'm doing. See:
https://inessential.com/2020/02/13/how_we_fixed_the_dreaded_0xdead10cc_cras

[2021-03-13 20:22] crspybits commented on #1042
I'm wondering why the `Connection` constructor doesn't let you pass flags. E.g., it seems important that I be able to pass the flag `SQLITE_OPEN_FILEPROTECTION_NONE`.

[2021-03-19 09:02] pratjai opened #1044 "Security vulnerabilities with bundler 1.17.1"
## Build Information
- SQLite.swift version: 0.12.2
- How do you integrate SQLite.swift in your project?: Carthage

## Details:
- Security vulnerabilities reported with bundler 1.17.1, the recommendation is to update it to "Upgrade to version v2.1.0.pre.3".

[2021-04-01 12:40] bridger commented on #813
I'm also seeing this issue with Xcode 12 and multiple threads. I'm not sure if this is due to an Xcode change or a SQLite.swift change.

[2021-04-14 05:55] DedicatedDev opened #1045 "Insert Query issue."
func saveWordToDB(with savedWord:SavedWord)->Future<Bool,Error>{
        return Future<Bool,Error> { promise in
            let dbQuery = "INSERT INTO SAVEDWORDS VALUES(\"\(savedWord.word!)\",\"\(savedWord.date!)\")"
            do {
                try self.database.run(dbQuery)
                promise(.success(true))
            }catch{
                print(error.localizedDescription)

[2021-04-14 11:14] updev0612 commented on #955
Hello. Khadat. how did you solve this issue?

[2021-04-14 11:37] updev0612 commented on #1045
repeated question. you can't use bundle resource.

[2021-04-16 04:51] womandroid commented on #986
I also have this problem for no reason.
[code]
This is an old project. I didn't update anything, and I didn't have this problem before, but now it suddenly appears.
I've tried to update SQLCipher to 4.4.0, but then I can't open the encrypted file encrypted by 3.4.2.
Now I can only use the temporary solution, replace the `SQLITE_DETERMINISTIC` with `0x800`, But I don't know if there will be any une

[2021-04-18 15:38] DedicatedDev commented on #1045
just solved my problem. thanks.

[2021-04-18 15:38] #1045 closed

[2021-04-27 06:39] Akeuuh opened #1046 "Cannot find Database in scope"
Hi!

I'm trying to connect a prepopulated database as shown in the documentation

`
import SQLite

class DB_Manager {
    let path = Bundle.main.path(forResource: "nameOfDatabase", ofType: "sqlite3")
    let db = Database(path, readonly: true)

}
`

But Xcode tells me :
Cannot find Database in scope

I've tried reinstall SQLite with Pods but it doesn't work. Do you know what's going on?

[2021-04-27 07:57] Highflyer94 opened #1047 "Is there a “VACUUM” function to reduce file size?"
I delete a lot of data when adding new one to my database to keep the file size low. But as the deleted rows remain in the memory the file size doesn’t reduce. Is there a supported vacuum function?

[2021-04-30 19:03] geoffmacd commented on #168
https://github.com/stephencelis/SQLite.swift/pull/1048

[2021-05-05 09:55] akaraca opened #1049 "DISTINCT Result Error on Column Names"
Hi there,

I have a basic DISTINCT query to get the distinct column results. But reading the query results give this error:

`SQLite/Query.swift:1113: Fatal error: 'try!' expression unexpectedly raised an error: No such column `"Town"` in columns ["DISTINCT \"Town\""]`

Here is my code:

[code]

Also having another column expression like below didn't work.

`let townD = Expression<String>("DISTINC

[2021-05-13 07:39] Tybion commented on #986
I also have this problem with ..

[code]

.. after upgrading Xcode to version 12.5 (from 11.something)

[2021-05-13 07:41] Tybion commented on #986
I think this Xcode upgrade is also an upgrade from Swift 5.1 to 5.4

[2021-05-13 08:14] marain87 commented on #986
#1009 may help you.

[2021-05-14 05:10] Tybion commented on #986
@marain87 Thanks for your help.

Now, my Podfile is ..
[code]

Now I get just one Fatal error from app build ..

[2021-05-17 03:56] Bruce9487 opened #1050 "The error about mutiple condition to filter sqlite data"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected. **Xcode 11.1**
- How do do you integrate SQLite.swift in your project?
    - Carthage

I got the error about `The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions`
When I set m

[2021-06-11 08:57] BirkhoffLee commented on #855
Same in here, please update.

[2021-06-11 12:29] AbdAllahShaheen opened #1052 "Crash in (Statement.swift:211)"
https://github.com/stephencelis/SQLite.swift/blob/70fb7af324cb3170d921f135f0c84cbdb6487cc2/Sources/SQLite/Core/Statement.swift#L211

The app crash due to force unwrap in Statement.swift line 211

[2021-07-26 07:23] Bruce9487 opened #1054 "Get userVersion Crash issue?"
My question:
I got crash issue about get userVersion.
Have any idea to fix it? <br>

[code]

## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected.
- How do do you integrate SQLite.swift in your project?
    - Carthage

## General guidelines

- Be as descriptive as possible.
- Provide as much information needed

[2021-07-30 17:04] 08kovalchuk03 opened #1055 "Best way to calculate average time_stamp from column"
I have a column, where I store time_stamp, and I need to calculate average time_stamp
If represent time_stamp as integer value it is just (date1 + date2) / 2, but I can't find a way to do this with this library

[2021-08-01 21:26] mlaster opened #1056 "Column check constraints generate a syntax error"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
 0.12.2
-
- Mention Xcode and OS X versions affected.
- Xcode 13.0, iOS 15.0
- How do do you integrate SQLite.swift in your project?
    - manual

## General guidelines

Column check constraints seem to generate invalid SQL:

I'm creating a table with:

            let validTypeRange = 0...26

[2021-08-01 21:32] mlaster commented on #1037
I managed to add it to my local project easy enough with:

[code]
I can use it in an expression like any other type:

Expression<UUID>("identifier")

I think I have a few more extensions to make this work:

[code]

[code]

[2021-08-12 06:34] CC-iOS-feifei opened #1057 "SQLCipher decrypt failed on iOS12 & iOS11"
- Build Information
   SQLite.swift (0.12.2),SQLCipher (4.4.3)
   Xcode 12.2
   iOS12 & iOS11

- How do do you integrate SQLite.swift in your project?
   CocoaPods

- My Issue
   SQLCipher works well on iOS13 and later version,but decrypt failed on iOS12 & iOS11

- Podfile
[code]

   In order to make a success,I edit @import SQLite3 -> @import SQLCipher in SQLiteObjc.h

   when I call the key meth

[2021-08-18 08:50] NathanFallet opened #1058 "Move to GitHub Actions (instead of travis-ci.org)"
The old travis.org service is [no longer available](https://blog.travis-ci.com/2021-05-07-orgshutdown).
You need to activate something in order to move the CI to travis-ci.com. PRs won't be able to get merged otherwise

[2021-08-18 08:53] NathanFallet commented on #1058
@stephencelis It's an important point, it takes about 5 minutes, and you are the only one having the permission to do it.

[2021-08-18 16:21] #983 closed

[2021-08-18 16:21] #988 closed

[2021-08-18 18:06] NathanFallet commented on #1058
@jberkel I talked with Stephen today, and we concluded we had to move to GitHub Actions. We still have an unresolved error with Swift Package Manager test command `swift test`. Any idea of where it could come from?

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/30439790/129949630-01e6f009-7ece-47ba-a35e-dbb5f1044605.png">

[2021-08-18 18:21] #920 closed

[2021-08-18 18:55] jberkel commented on #1058
@NathanFallet thanks, I'll take a look. I saw that you merged some PRs, wouldn't it be better to sort out the CI before merging more code?

[2021-08-18 19:16] #841 closed

[2021-08-18 20:50] NathanFallet commented on #1058
@jberkel I only merged PRs about documentation (no CI needed) and little additions like conforming types (e.g. UUID or Int64) to codable things. I checked, and all tests are passing (except the SPM one, but others driven by Cocoapods or Carthage did)

[2021-08-18 20:56] NathanFallet commented on #1031
Hello, I joined the SQLite.swift maintainers team, and we're going to merge pull requests and fix issues in the coming days. (Already a few were merged at time of writing, and we are replacing the outdated travis CI with GitHub Actions)

[2021-08-18 20:57] #1031 closed

[2021-08-18 21:00] Quailcreek commented on #1031
Sorry but I couldn’t wait. I have already switched to GRDB.

On Wed, Aug 18, 2021 at 1:57 PM Nathan Fallet ***@***.***>
wrote:

[2021-08-18 21:02] NathanFallet commented on #1044
Bundler was updated today, so will be fixed in the next release

[2021-08-18 21:02] #1044 closed

[2021-08-18 21:07] NathanFallet commented on #1058
Could the SPM build error be related to #1051?

[2021-08-18 21:08] NathanFallet commented on #1039
Should be fixed by #1051 and #1053

[2021-08-18 21:08] #1039 closed

[2021-08-18 21:09] NathanFallet commented on #1036
We merged a fix replacing the `try!` by a `try?`.

[2021-08-18 21:09] #1036 closed

[2021-08-18 21:10] NathanFallet commented on #1028
Merged a fix to replace `try!` by `try?`.

[2021-08-18 21:10] #1028 closed

[2021-08-18 21:12] NathanFallet commented on #1023
Migrating to SPM is recommended yes. I joined the maintainers team today, we're going to merge pull requests and close issues as soon as possible.

[2021-08-18 21:12] #1023 closed

[2021-08-18 21:16] NathanFallet commented on #1009
Should be fixed by #1051 and #1053. We're going to release a new version soon.

[2021-08-18 21:16] NathanFallet commented on #1009
Should be fixed by #1051 and #1053. We're going to release a new version soon.

[2021-08-18 21:16] #1009 closed

[2021-08-18 21:17] NathanFallet commented on #1003
Was fixed by your PR. Closing.

[2021-08-18 21:17] #1003 closed

[2021-08-18 21:55] NathanFallet commented on #1037
Should be fixed by #981. Tell me if there's something wrong.

[2021-08-18 21:55] #1037 closed

[2021-08-18 22:01] jberkel commented on #1058
Yes, I found the problem will open a PR soon. Some of the last merged PRs broke the tests

[2021-08-18 22:04] NathanFallet commented on #1058
@jberkel Okay, waiting for the fix.

[2021-08-18 23:08] #1058 closed

[2021-08-18 23:18] NathanFallet commented on #996
I just joined the maintainers team, and we're merging pull requests and fixing issues now. Let's make this lib live again!

[2021-08-18 23:18] #996 closed

[2021-08-18 23:27] NathanFallet commented on #1052
This was fixed by #1030

[2021-08-18 23:28] #1052 closed

[2021-08-20 07:48] CC-iOS-feifei commented on #934
Have you solved it?

[2021-08-20 08:56] lucascorrea commented on #934
Hey, It was a long time ago that I don't use SQLite.swift, I saw that has so many updates, maybe it has been solved.

[2021-08-21 16:12] #897 closed

[2021-08-21 16:45] NathanFallet commented on #1020
Duplicate of #1054

[2021-08-21 16:45] #1020 closed

[2021-08-21 16:47] NathanFallet commented on #1050
@Bruce9487 Can you show some code where you got this error?

[2021-08-21 16:50] NathanFallet commented on #1049
@akaraca Can you show me where your created your table? There may be a typo or case mistake in column name for example...

[2021-08-21 17:40] jberkel commented on #1047
Not built in, but you can just do
[code]

[2021-08-22 15:02] NathanFallet commented on #1046
We need more information to help you to resolve your issue. Do you have any git or source to allow us to check and reproduce the issue?

[2021-08-22 15:13] NathanFallet commented on #1041
With the recently released 0.13.0, is this issue still happening? If not, please close this issue.

[2021-08-22 15:19] NathanFallet commented on #1033
@adnanafzal565 Try to execute your query and check how many lines are returned:

[code]

[2021-08-22 15:19] #1033 closed

[2021-08-22 15:20] NathanFallet commented on #1032
@adnanafzal565 Can you show us your code please?

[2021-08-22 15:21] NathanFallet commented on #1029
Deleting and recreating the database should do the job.

[2021-08-22 15:21] #1029 closed

[2021-08-22 15:24] #1047 closed

[2021-08-22 16:05] NathanFallet commented on #1026
I'm not sure this is possible for now. It could be a great enhancement.

[2021-08-22 16:10] NathanFallet commented on #1026
Try with something like this, it could work:
[code]

[2021-08-22 16:12] #1018 closed

[2021-08-22 16:14] NathanFallet commented on #1017
@TenMaKo We would be happy to review your PR if you open one

[2021-08-22 16:18] NathanFallet commented on #1015
Closing as it was fixed

[2021-08-22 16:18] #1015 closed

[2021-08-22 16:23] NathanFallet commented on #1007
SQLite.swift was developed for iOS, macOS, tvOS and watchOS. I'm not sure that Linux support was intentional if it is supporting it, but at least, it could be an enhancement.

[2021-08-22 16:36] NathanFallet commented on #1004
Try with
[code]

If it works, then you can close this issue

[2021-08-22 16:38] NathanFallet commented on #999
Try with the `0.13.0` we just released, it should fix the problem.

[2021-08-22 16:38] #999 closed

[2021-08-22 16:39] NathanFallet commented on #990
Should be fixed with the `0.13.0`

[2021-08-22 16:39] #990 closed

[2021-08-22 16:46] NathanFallet commented on #998
@zhangjianjun056 Can you reexplain what is your problem, and include some code snippets, so that we can help you?

[2021-08-22 16:49] NathanFallet commented on #1026
Closing for now, please reopen if you have any problem with this.

[2021-08-22 16:49] #1026 closed

[2021-08-22 16:49] #1004 closed

[2021-08-22 17:57] adnanafzal565 commented on #1033
Yes, it was fixed. Thank you.

[2021-08-22 20:34] NathanFallet commented on #997
@TenMaKo Feel free to open a PR to fix this issue

[2021-08-23 09:40] jberkel opened #1064 "CI for Linux"
We currently don't test on Linux

[2021-08-23 09:49] NathanFallet commented on #1007
Linked to #1064

[2021-08-23 09:50] NathanFallet commented on #1064
We could add another job in the "Build and test" workflow running on Ubuntu for example

[2021-08-23 09:51] #992 closed

[2021-08-23 09:52] NathanFallet commented on #991
Try again using `0.13.0`, it should be fixed. If not, please open again this issue.

[2021-08-23 09:52] #991 closed

[2021-08-23 09:54] NathanFallet commented on #989
Duplicate of #997

[2021-08-23 09:54] #989 closed

[2021-08-23 09:55] NathanFallet commented on #987
@pujiaxin33 Feel free to open a PR to add this feature to SQLite.switt

[2021-08-23 09:56] #987 closed

[2021-08-23 09:59] NathanFallet commented on #986
Should be fixed in `0.13.0`. If not, please reopen this issue.

[2021-08-23 09:59] #986 closed

[2021-08-23 10:06] jberkel opened #1065 "Compiler warnings should fail build"

[2021-08-23 10:06] NathanFallet commented on #985
@mickael-menu Feel free to open a PR to fix this issue, we will be happy to review it and merge it!

[2021-08-23 10:09] #984 closed

[2021-08-23 10:10] NathanFallet commented on #1032
Duplicate of #982

[2021-08-23 10:10] #1032 closed

[2021-08-23 10:12] NathanFallet commented on #982
@digitxo Are you sure that your .db file is in your working directory?

[2021-08-23 10:13] #980 closed

[2021-08-23 10:23] NathanFallet commented on #979
Like #984, you should check to use a CSV parsing library.

[2021-08-23 10:24] #979 closed

[2021-08-23 10:40] jberkel commented on #1064
Yes, that sounds good

[2021-08-23 11:35] jberkel opened #1066 "Simplify pod linting"
With newer CocoaPod versions it's enough to do `pod lib lint ---subspec=standalone`

[2021-08-23 12:36] jberkel opened #1067 "Run tests with NSZombieEnabled"
[code]

[2021-08-23 13:19] mickael-menu commented on #985
@NathanFallet I'm not using SQLite.swift anymore

[2021-08-23 13:28] #1065 closed

[2021-08-23 13:28] #1066 closed

[2021-08-23 13:36] jberkel commented on #1067
Test plans allow running tests with different options, we should try to use `NSZombie`, `guard malloc` etc to detect memory issues, especially important since the code makes heavy use of the `Unsafe*` APIs.

[2021-08-23 13:46] jberkel commented on #768
closing as stale

[2021-08-23 13:46] #768 closed

[2021-08-23 14:01] jberkel commented on #1025
You need to use it with a version of SQLite compiled with `SQLITE_ENABLE_ICU`. As far as I can tell there's no out of the box way of doing this, and the sqlite3 pod doesn't seem to provide this.

[2021-08-23 17:32] NathanFallet commented on #978
@MingleChang Try to use `$category` instead of `:category` and tell me if it works.

[2021-08-23 21:44] NathanFallet commented on #975
As @icodeuridevice showed, you can create a table if it doesn't exist yet.

[2021-08-23 21:44] #975 closed

[2021-08-23 21:46] NathanFallet commented on #969
@jberkel Do you know about this?

[2021-08-23 21:48] NathanFallet commented on #966
@Esdeath Are you sure that your database is a SQLite database? (And not a MySQL database for example?)

[2021-08-23 21:50] NathanFallet commented on #965
@xgoo Please give us more details about what you are trying to achieve, else we can't help you

[2021-08-23 21:54] NathanFallet commented on #963
In your table view controller `viewDidLoad`, fetch data from your database, and store it in an array. Then use this array to populate your table view.

[2021-08-23 21:54] #963 closed

[2021-08-23 22:00] NathanFallet commented on #962
This might be a problem with date formatting (I guess, else I don't know where is the problem)
Linked to #985

[2021-08-23 22:01] NathanFallet commented on #1050
Ask on StackOverflow for this kind of questions

[2021-08-23 22:01] #1050 closed

[2021-08-23 22:02] NathanFallet commented on #998
Ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:02] #998 closed

[2021-08-23 22:02] NathanFallet commented on #973
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:02] #973 closed

[2021-08-23 22:03] NathanFallet commented on #967
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:03] #967 closed

[2021-08-23 22:03] NathanFallet commented on #965
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:03] #965 closed

[2021-08-23 22:04] NathanFallet commented on #1012
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:04] #1012 closed

[2021-08-23 22:04] NathanFallet commented on #1046
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:04] #1046 closed

[2021-08-23 22:04] NathanFallet commented on #1055
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:04] #1055 closed

[2021-08-23 22:05] NathanFallet commented on #1049
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:05] #1049 closed

[2021-08-23 22:05] NathanFallet commented on #966
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:05] #966 closed

[2021-08-23 22:06] NathanFallet commented on #957
Swift 5.x is supported.

[2021-08-23 22:06] #957 closed

[2021-08-23 22:07] NathanFallet commented on #956
Fixed by a PR in 0.13.0

[2021-08-23 22:07] #956 closed

[2021-08-23 22:08] NathanFallet commented on #961
@fewlinesofcode @akda5id Feel free to open a PR if you want to help to improve the documentation.

[2021-08-23 22:08] #961 closed

[2021-08-23 22:09] NathanFallet commented on #960
This should be fixed in 0.13.0. If not, please reopen this issue.

[2021-08-23 22:09] #960 closed

[2021-08-23 22:11] #952 closed

[2021-08-23 22:14] NathanFallet commented on #948
The way OR condition is treated has changed in 0.13.0. If you still have a problem with it, please reopen this issue.

[2021-08-23 22:14] #948 closed

[2021-08-23 22:16] NathanFallet commented on #947
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:16] #947 closed

[2021-08-23 22:17] NathanFallet commented on #946
Try with upsert.

[2021-08-23 22:17] #946 closed

[2021-08-23 22:18] NathanFallet commented on #944
Try again with 0.13.0, it should be fixed (else, please reopen this issue)

[2021-08-23 22:18] #944 closed

[2021-08-23 22:19] NathanFallet commented on #943
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:19] #943 closed

[2021-08-23 22:20] NathanFallet commented on #942
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:20] #942 closed

[2021-08-23 22:21] #1041 closed

[2021-08-23 22:23] #938 closed

[2021-08-23 22:26] NathanFallet commented on #936
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:26] #936 closed

[2021-08-23 22:27] NathanFallet commented on #935
Duplicate of #998

[2021-08-23 22:27] #935 closed

[2021-08-23 22:28] NathanFallet commented on #934
Try with 0.13.0. Please reopen this issue if it still don't work.

[2021-08-23 22:28] #934 closed

[2021-08-23 22:32] NathanFallet commented on #928
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-23 22:32] #928 closed

[2021-08-23 22:33] NathanFallet commented on #927
Duplicate of #959

[2021-08-23 22:34] #927 closed

[2021-08-24 08:15] NathanFallet commented on #924
Should be fixed in 0.13.0. If not, please reopen this issue.

[2021-08-24 08:15] #924 closed

[2021-08-24 08:15] #923 closed

[2021-08-24 08:17] NathanFallet commented on #922
Use `Expression<Type?>` instead of `Expression<Type>`.

[2021-08-24 08:17] #922 closed

[2021-08-24 08:18] NathanFallet commented on #921
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-24 08:18] #921 closed

[2021-08-24 08:19] NathanFallet commented on #915
Linked to #937

[2021-08-24 08:23] NathanFallet commented on #912
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-24 08:23] #912 closed

[2021-08-24 08:41] #896 closed

[2021-08-24 08:42] #893 closed

[2021-08-24 08:42] NathanFallet commented on #890
Should be fixed by 0.13.0. If not, please reopen.

[2021-08-24 08:43] #890 closed

[2021-08-24 08:53] jberkel commented on #969
Triggers haven't been added yet, they might make a good addition. Maybe this issue should be renamed to "expose triggers", and collect some ideas for a possible API.

[2021-08-24 08:55] NathanFallet commented on #889
Fixed in 0.13.0. (try! was replaced by try?)

[2021-08-24 08:55] #889 closed

[2021-08-24 10:20] #908 closed

[2021-08-24 11:46] jberkel commented on #915
The only reactive integration which makes sense at this point is the standard Combine framework.

[2021-08-24 11:52] jberkel commented on #937
The point of the queue is not "effectiveness" but safety. And with SQLite most operations are so fast that you don't even need another queue/thread to avoid blocking the main thread. It's lightweight in the sense that the user does not have to deal with how the connection is accessed.

But yes, the whole thing could probably be rethought at some point.

[2021-08-24 11:55] jberkel commented on #887
please retry with the latest version and reopen if needed

[2021-08-24 11:55] #887 closed

[2021-08-24 11:56] jberkel commented on #833
fixed, closing

[2021-08-24 11:56] #833 closed

[2021-08-24 11:57] jberkel commented on #755
please retry with the latest version and reopen if needed

[2021-08-24 11:57] #755 closed

[2021-08-24 11:58] jberkel commented on #627
fixed in 0.13.0

[2021-08-24 11:58] #627 closed

[2021-08-24 12:05] afern247 commented on #627
Core Data is the Apple Way of storing data. I also moved away from it lol I didn't like it.

[2021-08-24 13:16] NathanFallet commented on #884
Try to update to 0.13.0. If it still don't work, please reopen this issue.

[2021-08-24 13:16] #884 closed

[2021-08-24 13:17] NathanFallet commented on #883
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-24 13:17] #883 closed

[2021-08-24 13:17] NathanFallet commented on #879
Duplicate of #748

[2021-08-24 13:18] #879 closed

[2021-08-24 13:18] NathanFallet commented on #878
Please ask on StackOverflow for this kind of questions (we are tracking bugs on GitHub)

[2021-08-24 13:18] #878 closed

[2021-08-24 13:26] Gentlee commented on #937
@jberkel you don't understand what you are talking about. That explains a lot.

[2021-08-24 13:27] jberkel commented on #655
not a bug report, closing.

[2021-08-24 13:27] #655 closed

[2021-08-24 13:31] jberkel commented on #682
if you still have this problem, can you post a full stacktrace? with this limited information debugging is impossible.

[2021-08-24 13:31] #682 closed

[2021-08-24 13:32] #767 closed

[2021-08-24 13:36] jberkel commented on #599
actually, SQLite doesn't even have a truncate command. closing.

[2021-08-24 13:36] #599 closed

[2021-08-24 13:44] jberkel commented on #589
It has to be `Int64`, this is the type that SQLite uses internally.

[2021-08-24 13:44] #589 closed

[2021-08-24 13:45] #598 closed

[2021-08-24 13:55] jberkel commented on #937
Listen, nobody is forcing you to use this library. If you don't agree with the design, use something else, there are enough alternatives, or come up with something better yourself.

But it looks like you're not really interested in helping anyway.

[2021-08-24 13:55] #937 closed

[2021-08-24 14:27] jberkel commented on #588
See #1025

[2021-08-24 14:27] #588 closed

[2021-08-24 14:34] jberkel commented on #877
this should be fixed now, please reopen if not

[2021-08-24 14:34] #877 closed

[2021-08-24 14:46] jberkel commented on #1042
@crspybits so looks like there's not much which can be done on the library side? (other than adding this information to the documentation).

regarding your last point (pass flags for opening), that sounds like a good suggestion, we should open a separate issue for this.

[2021-08-24 14:52] jberkel commented on #772
a cast to `NSError` always succeeds.

https://developer.apple.com/forums/thread/17431

[2021-08-24 14:52] #772 closed

[2021-08-24 14:53] #761 closed

[2021-08-24 14:56] #596 closed

[2021-08-24 14:57] #450 closed

[2021-08-24 14:58] #651 closed

[2021-08-24 14:59] #608 closed

[2021-08-24 15:09] #639 closed

[2021-08-24 15:12] jberkel commented on #565
Looks  like this is still supported: https://docs.scade.io/docs/data-persistency-with-sqliteswift
closing.

[2021-08-24 15:12] #565 closed

[2021-08-24 15:16] jberkel commented on #338
use [column namespacing](https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#column-namespacing) for this.

[2021-08-24 15:16] #338 closed

[2021-08-24 15:17] #484 closed

[2021-08-24 15:19] jberkel commented on #642
this is for reporting bugs, please you stackoverflow etc. instead.

[2021-08-24 15:19] #642 closed

[2021-08-24 15:20] jberkel commented on #564
closing as stale

[2021-08-24 15:20] #564 closed

[2021-08-24 15:22] jberkel commented on #374
stale

[2021-08-24 15:22] #374 closed

[2021-08-24 15:28] jberkel commented on #576
Sorry. It's called `SQLite.swift` for a reason :)

[2021-08-24 15:28] #576 closed

[2021-08-24 15:30] jberkel commented on #959
this sounds like a project misconfiguration (missing target)

[2021-08-24 15:31] #815 closed

[2021-08-24 15:32] #865 closed

[2021-08-24 15:37] jberkel commented on #1010
looks like a limitation,  could easily add more arguments

[2021-08-24 15:50] #468 closed

[2021-08-24 15:54] #746 closed

[2021-08-24 15:58] jberkel commented on #468
@NathanFallet a similar bug is in the new `createAggregation` function (which presumably just copied the code). it should be moved into a method

[2021-08-24 16:05] NathanFallet commented on #468
@jberkel If you know how to fix it then go, you'll be quicker than me on that

[2021-08-24 16:09] jberkel opened #1069 "Clean up custom aggregation code"
#881 introduced duplicated code and suffers from the same problem as #468

[2021-08-24 16:25] #763 closed

[2021-08-24 16:33] #809 closed

[2021-08-24 16:35] jberkel commented on #787
Looks like a Swift issue, not SQLite.swift

[2021-08-24 16:35] #787 closed

[2021-08-24 16:36] jberkel commented on #698
use the `+` operator.

[2021-08-24 16:36] #698 closed

[2021-08-24 16:44] jberkel commented on #711
with the internal access you should be able to do

[code]

[2021-08-24 16:45] #731 closed

[2021-08-24 16:47] jberkel commented on #434
it's a file-based system, so there are not really "round trips". please profile and check where the time is spent.

[2021-08-24 16:47] #434 closed

[2021-08-24 16:48] #652 closed

[2021-08-24 16:49] #705 closed

[2021-08-24 16:49] #704 closed

[2021-08-24 16:53] jberkel commented on #691
please reopen if still needed with 0.13.0

[2021-08-24 16:53] #691 closed

[2021-08-24 16:57] jberkel commented on #638
this was merged in #1048

[2021-08-24 16:57] #638 closed

[2021-08-24 17:00] #765 closed

[2021-08-24 17:01] #776 closed

[2021-08-24 17:02] #720 closed

[2021-08-24 17:02] jberkel commented on #696
please use stackoverflow

[2021-08-24 17:02] #696 closed

[2021-08-24 17:04] jberkel commented on #403
you can use the `table[expressible_syntax]`

[2021-08-24 17:04] #403 closed

[2021-08-24 17:12] #645 closed

[2021-08-24 17:13] jberkel commented on #368
that was 5 years ago. closing.

[2021-08-24 17:13] #368 closed

[2021-08-24 17:27] jberkel commented on #683
you can use `upsert` for this.

[2021-08-24 17:27] #683 closed

[2021-08-24 17:30] jberkel commented on #422
more recent versions of sqlite (3.26.0) support this natively, so you don't need extra libraries.

[2021-08-24 17:30] #422 closed

[2021-08-24 17:32] #580 closed

[2021-08-24 17:37] jberkel commented on #539
SQLite 3.30.0 supports `NULLS FIRST` and `NULLS LAST`, so this should probably be added instead

https://sqlite.org/lang_select.html

[2021-08-24 17:40] #721 closed

[2021-08-24 17:41] #868 closed

[2021-08-24 17:42] #687 closed

[2021-08-24 17:43] #624 closed

[2021-08-24 17:43] #793 closed

[2021-08-24 17:44] #783 closed

[2021-08-24 17:45] jberkel commented on #790
please use stackoverflow

[2021-08-24 17:45] #790 closed

[2021-08-24 17:47] jberkel commented on #874
https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#core-sqlite-functions

[2021-08-24 17:47] #874 closed

[2021-08-24 17:48] #784 closed

[2021-08-24 17:50] jberkel commented on #622
The whole point of the library is type-safety, so your suggestion doesn't really make sense. You could just check the different types you're expecting one-by-one, and see which one does match.

[2021-08-24 17:50] #622 closed

[2021-08-24 17:52] jberkel commented on #773
please use stackoverflow for this

[2021-08-24 17:52] #773 closed

[2021-08-24 17:53] jberkel commented on #782
looks like you column definition is not marked as optional

[2021-08-24 17:53] #782 closed

[2021-08-24 17:54] #789 closed

[2021-08-24 17:55] jberkel commented on #949
sorry this is out of scope, and impossible to debug without more information.

[2021-08-24 17:55] #949 closed

[2021-08-24 17:59] jberkel commented on #780
https://sqlite.org/lang_aggfunc.html#group_concat

[2021-08-24 18:00] #644 closed

[2021-08-24 18:02] jberkel commented on #689
This should work. Have you checked the generated SQL?

[2021-08-24 18:03] jberkel commented on #770
maybe you're loading a lot of data.  sorry, this is out of scope.

[2021-08-24 18:03] #770 closed

[2021-08-24 18:04] jberkel commented on #665
duplicate of #689

[2021-08-24 18:04] #665 closed

[2021-08-24 18:04] #764 closed

[2021-08-24 18:06] jberkel commented on #775
can you try again with 0.13.0?

[2021-08-24 18:06] #775 closed

[2021-08-24 18:07] #634 closed

[2021-08-24 18:08] jberkel commented on #408
What do you mean by cross database join?

[2021-08-24 18:08] #408 closed

[2021-08-24 18:09] #605 closed

[2021-08-24 18:09] #342 closed

[2021-08-24 18:10] #242 closed

[2021-08-24 18:13] #760 closed

[2021-08-24 18:13] #759 closed

[2021-08-24 18:14] jberkel commented on #995
please use stackoverflow

[2021-08-24 18:14] #995 closed

[2021-08-24 18:15] #693 closed

[2021-08-24 18:15] #732 closed

[2021-08-24 18:17] jberkel commented on #1054
this looks like a local/db issue

[2021-08-24 18:17] #1054 closed

[2021-08-24 18:18] jberkel commented on #910
can you not just try to open it without setting a key?

[2021-08-24 18:19] jberkel commented on #794
sorry, don't understand what you mean.

[2021-08-24 18:19] #794 closed

[2021-08-24 18:21] jberkel commented on #756
does this still apply to 0.13.0? If yes, please reopen

[2021-08-24 18:21] #756 closed

[2021-08-24 18:22] AshwinDamji commented on #773
Thank you

[2021-08-24 22:51] jberkel commented on #869
sorry, please use stackoverflow for support, github is for bugs only.

[2021-08-24 22:51] #869 closed

[2021-08-24 23:05] #584 closed

[2021-08-24 23:11] jberkel commented on #870
What's the error message you get?

[2021-08-24 23:12] jberkel commented on #855
The input is not automatically you quoted, you need to do this yourself. See #305

[2021-08-24 23:12] #855 closed

[2021-08-24 23:14] jberkel commented on #839
@Cloov Do you still need help with this?

[2021-08-24 23:18] jberkel commented on #702
not enough information, closing

[2021-08-24 23:18] #702 closed

[2021-08-24 23:19] #861 closed

[2021-08-24 23:23] jberkel commented on #299
The queries you posted look correct. If you still have the problem, please post the generated SQL.

[2021-08-24 23:23] #299 closed

[2021-08-24 23:27] jberkel commented on #822
`let x = Expression<Double>("X")`

[2021-08-24 23:27] #822 closed

[2021-08-24 23:28] #707 closed

[2021-08-24 23:32] jberkel commented on #859
sorry, bugreport isn't helpful

[2021-08-24 23:32] #859 closed

[2021-08-24 23:43] #667 closed

[2021-08-24 23:44] jberkel commented on #709
stale

[2021-08-24 23:44] #709 closed

[2021-08-25 07:08] jberkel commented on #734
Can you give an example of what you mean?

[2021-08-25 07:13] jberkel commented on #813
#259 perhaps related

[2021-08-25 07:16] jberkel commented on #828
This has been fixed in https://bugs.swift.org/browse/SR-7531

[2021-08-25 07:16] #828 closed

[2021-08-25 07:17] jberkel commented on #847
unclear question

[2021-08-25 07:17] #847 closed

[2021-08-25 07:18] #816 closed

[2021-08-25 07:20] jberkel commented on #842
Added in #882

[2021-08-25 07:20] #842 closed

[2021-08-25 07:21] #825 closed

[2021-08-25 07:22] jberkel commented on #837
please use stackoverflow

[2021-08-25 07:22] #837 closed

[2021-08-25 07:24] #618 closed

[2021-08-25 07:25] jberkel commented on #619
please use stackoverflow

[2021-08-25 07:25] #619 closed

[2021-08-25 07:26] #648 closed

[2021-08-25 07:28] jberkel commented on #875
this is not how cascade is supposed work, please check the sqlite.org docs.

[2021-08-25 07:28] #875 closed

[2021-08-25 07:32] jberkel commented on #835
https://github.com/stephencelis/SQLite.swift/blob/master/Documentation/Index.md#thread-safety

[2021-08-25 07:32] #835 closed

[2021-08-25 07:34] #428 closed

[2021-08-25 07:34] jberkel commented on #821
What is TTL support?

[2021-08-25 07:35] jberkel commented on #852
this should be fixed

[2021-08-25 07:35] #852 closed

[2021-08-25 07:35] #854 closed

[2021-08-25 07:36] jberkel commented on #836
please use stackoverflow

[2021-08-25 07:36] #836 closed

[2021-08-25 07:37] jberkel commented on #858
please use stackoverflow

[2021-08-25 07:37] #858 closed

[2021-08-25 07:55] jberkel commented on #752
please use stackoverflow for this.

[2021-08-25 07:55] #752 closed

[2021-08-25 07:58] jberkel commented on #611
do you still get this error? can you post the full error message?

[2021-08-25 08:00] NathanFallet commented on #823
You can check this example, in the fonction updateDatabase (line 61) how I update my database to add columns: https://github.com/GroupeMINASTE/Delta-iOS/blob/master/Delta/Utils/Database.swift

[2021-08-25 08:00] #823 closed

[2021-08-25 08:04] jberkel commented on #786
Yes, they are two different things but only one is active at a time, this needs clarifying in the documentation

[2021-08-25 08:23] jberkel commented on #814
please use stackoverflow for general questions

[2021-08-25 08:23] #814 closed

[2021-08-25 08:24] #820 closed

[2021-08-25 08:25] jberkel commented on #1031
this project has been dead a few times. so far it's always come back.

[2021-08-25 08:43] jberkel commented on #929
Probably duplicate of #365

[2021-08-25 09:58] jberkel commented on #754
Can you post the complete error message?

[2021-08-25 10:10] jberkel commented on #802
So there should be  a `DateFunctions.now` returning `Expression<Date>`?

[2021-08-25 10:24] jberkel commented on #165
Looks like this was caused by some Swift compatibility change?

[2021-08-25 10:26] #711 closed

[2021-08-25 13:48] jberkel opened #1071 "Custom functions broken on Linux"
Caused by this bug in Swift:

https://bugs.swift.org/browse/SR-4429

[2021-08-25 14:36] jberkel commented on #1007
The FTS5 code is currently excluded on Linux. For some reason there is a dependency to `SQLiteObjc`, which cannot be compiled on Linux.

[2021-08-25 16:38] #285 closed

[2021-08-26 07:29] jberkel opened #1073 "Expose new schema alteration operations"
These have been added in more recent versions:

* `RENAME COLUMN` (3.25.0)
* `DROP COLUMN` (3.35.0)

(maybe more)

[2021-08-26 07:53] jberkel opened #1074 "Expose connection flags"
(@crspybits, #1042)

[2021-08-26 14:59] jberkel opened #1076 "Documentation overhaul"
The documentation hasn't been updated in a while, and new features have been added. We should go through the documentation and make sure it's still relevant, and that the code snippets compile, and that the playground still works.

Also add docs regarding error handling (failable vs. "normal" iterator)

#786, #583

Maybe it's also worth looking at closed tickets again to see what users struggle wi

[2021-08-29 14:23] fappelman opened #1077 "Compilation failed on Linux. Missing dependency?"
I was "upgraded" automatically from version `0.12.2` to the latest version `0.13.0` when I compiled a package.

Compilation now fails with this error:

[code]

No other changes. When I forced a rollback using this in `Package.swift`:

[code]

it compiles again. It seems like there is a dependency missing in `0.13.0`.

[2021-08-30 06:31] jberkel commented on #1077
Strange, the Linux build has not changed since 01.2.2 (neither have the dependencies), and the CI performs a Linux build, so not sure why this would now fail. Can you share the complete build log?

[2021-08-30 08:10] fappelman commented on #1077
Here you are. I have provided the one that fails and the one that succeeds. The only difference is the `Package.swift` line as mentioned earlier. It is a docker build. I did filter out the references to the internal resources so there are some lines removed.

This is the failing one:

[code]

Here is the succeeding one. I stopped the log after the compilation of `Blob.swift`:

[code]

[2021-08-30 08:42] jberkel commented on #1077
Hmm, the failing build is missing the clone of the dependency:

[code]

We currently don't have a full integration test of the library on Linux. (it builds the project itself, but not another project depending on it). I'll add one.

[2021-08-30 08:43] jberkel opened #1078 "Add Linux integration test"
#1077

[2021-08-30 08:43] fappelman commented on #1077
Thanks

[2021-09-01 07:45] muzipiao opened #1079 "Missing required module 'SQLiteObjc'"
**Error description:**

1. I integrated  SQLite.swift in the static library through Swift Package Manager, uncheck when `Choose package products and targets` is operated;
2. Click `+` in `Target -> Build Phases -> Dependencies` to add SQLite dependencies;
3. When `import SQLite` in Swift file, report this error `Missing required module'SQLiteObjc'`.

Since I need to reference SQLite.swift in multi

[2021-09-05 16:10] #1078 closed

[2021-09-05 16:12] jberkel commented on #1077
@fappelman Can you try if master works ok?

`.package(url: "https://github.com/stephencelis/SQLite.swift.git", .branch("master"))`

[2021-09-05 16:26] fappelman commented on #1077
I can confirm that it compiles now! Thanks.

[2021-09-05 19:21] #1077 closed

[2021-09-05 22:49] #786 closed

[2021-09-05 22:49] #1076 closed

[2021-09-14 11:12] kmitj opened #1084 "SqlCipher support for Swift PM"

[2021-09-16 07:07] eternal-glory opened #1085 "Can we add passwords to SQL？"

[2021-09-16 07:17] Bruce9487 opened #1086 "Value of type 'Connection' has no member 'key'"
As title, what's wrong with my code.

I use Carthage install
github "stephencelis/SQLite.swift"

xcode ver 12.5.1
sqlite ver 0.13.0

![截圖 2021-09-16 15 15 12](https://user-images.githubusercontent.com/19691907/133567540-d70a51c3-0e7b-4316-a2f6-985a834a3249.png)

I follow document usage
<img width="1038" alt="截圖 2021-09-16 15 35 48" src="https://user-images.githubusercontent.com/19691907/133570376-

[2021-09-23 14:56] nitrag commented on #1086
You did not install `SQLite.swift/SQLCipher` pod

[2021-09-24 09:58] RussOggi255 opened #1087 "Xcode 13 Problem "dyld: Library not loaded: @rpath/SQLite.framework/Versions/A/SQLite""
I have used SQLite.swift before in an iOS project and it worked fine (Many thanks)

I recently updated to Xcode 13 and downloaded the latest SQLite.swift-master
Dragged/Dropped it into my MacOS application project and it built OK but when I run it I get the errors;

_dyld: Library not loaded: @rpath/SQLite.framework/Versions/A/SQLite
  Referenced from: /Users/username/Library/Developer/Xcode/Deriv

[2021-09-30 04:23] atulmanwar opened #1088 "Possible synchronisation issues"
Our app was facing a database corruption crash while reading from the database.
I was going through the implementation of SQLite.swift to check for possible synchronisation issues and found this piece of code.

`
// QueryType.swift
extension Connection {

    public func prepare(_ query: QueryType) throws -> AnySequence<Row> {
        let expression = query.expression
        let statement = try p

[2021-09-30 07:06] Bluestart83 commented on #331
I have same issue. NUMERIC is ideal for Float (same value as in the database).

[2021-10-03 18:51] Abdallarabie1 opened #1089 "gh pr checkout 1083"

[2021-10-11 23:29] #1089 closed

[2021-10-15 21:40] fwcd opened #1090 "Linux build fails due to missing CSQLite module"
The Linux build currently fails with various errors of the form

[code]

Perhaps a GitHub Actions CI pipeline could be added to avoid regressing on such things?

[2021-10-15 21:56] fwcd commented on #1090
Hm, it seems as if pinning the dependency version of `SQLite.swift` in the package manifest is an issue. Declaring

[code]

correctly yields

[code]

whereas declaring

[code]

yields a dependency tree without `CSQLite`

[code]

Perhaps this is a bug in the Swift Package Manager? (I am running Swift 5.4.2 on Linux)

[2021-10-23 17:12] haithngn opened #1092 "Orverloads methods do not work as expectation"
I tried to use some overloads method in the extension of Connection class, they have the same parameter and different return types.
![Screen Shot 2021-10-24 at 12 07 09 AM](https://user-images.githubusercontent.com/22902671/138565395-cf319547-1462-4b8f-b597-c07dcdbde6ac.png)

But, when I complete the expression they just return to type Statement only like this
![Screen Shot 2021-10-24 at 12 05 29

[2021-11-03 08:50] SLboat opened #1093 "there are no backup fn in 0.13.0"
is it only in master code?

[2021-11-05 19:36] jberkel commented on #1093
Correct, it will be released as 0.13.1.

[2021-11-06 15:13] adamek314 opened #1096 "@Binding problem with SQLite and SwiftUI"
With the following code fragment:

[code]

Xcode puts a "Unknown attribute 'Binding'" error at the end of each @Binding line

If I comment out the import SQLite line, the error goes away.

Is there a way to import SQLite.swift and SwiftUI in the same file, or do I have to get more stringent about separating my models and views?

macOS Monterey 12.1 Beta (21C5021h)
Xcode Version 13.1 (13A1030d)
SQL

[2021-11-06 23:28] adamek314 commented on #1096
Workaround, insert SwiftUI. between @ and Binding.

[2021-11-09 05:09] SLboat commented on #1093
@jberkel thank you!

[2021-11-09 05:09] #1093 closed

[2021-11-15 11:59] claustrofob opened #1097 "iOS 15.2 beta 2 (19C5036e) throws "bad parameter or other API misuse (code: 21)" when using SQLCipher Connection.key and Connection.rekey"
When trying to encrypt non encrypted db or change the key on an open encrypted db with `Connection.rekey` or decrypt the encrypted db with `Connection.key` it throws "bad parameter or other API misuse (code: 21)".

On iOS 15.1 and earlier the same code works fine.
Tested on different devices.

SQLite v. 0.13.0
SQLite.swift/SQLCipher v. 0.13.0
SQLCipher 4.4.3, 4.5.0

[2021-11-16 11:21] tomrbn01 commented on #1097
Hey, we have same problem https://github.com/sqlcipher/sqlcipher/issues/412

[2021-11-16 14:31] jberkel commented on #1097
Strange, that's an error from SQLite. Do you know if it works without `SQLite.swift` ?

[2021-11-16 14:38] claustrofob commented on #1097
I did not check if it works without `SQLite.swift`. But `SQLite.swift` definitely works without using `key` and `rekey` methods.

[2021-11-16 19:09] nitrag commented on #1097
I am having this issue as well.

SQLCipher - 4.4.3
SQLite.swift/SQLCipher - 0.13.0

How much time do we have to patch this before 15.2 release?

[2021-11-16 22:32] jberkel commented on #1097
As commented on sqlcipher/sqlcipher#412, it looks like there's a conflict between the bundled version of SQLite and SQLCipher.

[2021-11-16 22:45] claustrofob commented on #1097
Tested vanilla SQLCipher v. 4.5.0 with `sqlite3_key` and `sqlite3_rekey`.  No issues, works good.

[2021-11-16 22:46] jberkel commented on #1097
@claustrofob can you post your Podfile?

[2021-11-16 23:05] claustrofob commented on #1097
@jberkel
[code]
but I've got my mistake. It must be just subspec:
[code]
Now it works. The docs are a bit misleading for me here.
Thank you.

[2021-11-17 02:35] nitrag commented on #1097
Ok it appears that I have resolved it. SQLiteMigrationManager depends upon non-cipher so I had to fork the repo and change the Podspec dependency. Is this resolvable automatically with CocoaPods somehow? Should I open an Issue on SQLiteMigrationManager repo?

![image](https://user-images.githubusercontent.com/197010/142108707-64040ece-0cd8-4aeb-adb1-0780483e1616.png)

[code]

[2021-11-17 09:34] jberkel commented on #1097
@nitrag I'm not sure what the best solution here is. Perhaps `SQLiteMigrationManager` could have a subspec which depends on `SQLCipher`. Or you could do some trickery in `post_install`, to remove the dependency there.

[2021-11-17 15:06] R4N opened #1098 "rekey comments incorrect"
I was directed over to this project from an [issue raised in the SQLCipher project](https://github.com/sqlcipher/sqlcipher/issues/412) which was linked to from an [issue within your project](https://github.com/stephencelis/SQLite.swift/issues/1097) of similar affect.

I saw that you [adjusted the documentation](https://github.com/stephencelis/SQLite.swift/commit/db48bb0bf98568c0e29976cd5b95c898c01

[2021-11-17 15:18] jberkel commented on #1098
Thanks for pointing this out, I'll change the comments and clarify this in the docs. It might also be worth to expose `sqlcipher_export()` in the API of `SQLite.swift/SQLCipher`.

But I'm wondering, is there a reason why `rekey` doesn't raise an error when called on an unencrypted db? Seems like an obvious user error to catch.

[2021-11-17 16:58] R4N commented on #1098
That makes sense to me so it provides your lib's users a streamlined way of going from plaintext <> encrypted

That is a fair point, rekey just "does nothing" (and returns SQLITE_OK) when called with a key and the open database is not encrypted. Attempting to key the db on subsequent opens with the same key that was provided during rekey will fail with error though. That being said, we think it mi

[2021-11-18 11:37] jberkel commented on #1086
stale, closing.

[2021-11-18 11:37] #1086 closed

[2021-11-23 04:12] adamwulf opened #1099 "How to bind an array of values?"
I'd like to prepare an `UPDATE` query like so:

[code]

I only seem to be able to bind a single object, but don't see how i can filter the prepared query by an array of values?

[2021-11-23 17:00] claustrofob commented on #1097
Seems like there is an incompatibility between `SQLite.swift` and `SQLite.swift/SQLCipher`.

The db encrypted with some key when both specs enabled:
[code]
cannot be decrypted with the same key when only subspec is enabled:
[code]

[2021-11-23 18:54] jberkel commented on #1097
@claustrofob please see #1098. Maybe the db wasn't encrypted correctly, the documentation is misleading.

You're using an unsupported configuration (2 specs enabled), don't blame the library for not functioning.

[2021-11-23 19:04] claustrofob commented on #1097
@jberkel sure i dont blame the library, that was my mistake. But i guess it might affect other users of the library. So i need to recover from this state somehow.

[2021-11-24 10:27] jberkel commented on #1097
Sorry, this is not directly related to SQLite, and it sounds like you've might have misused SQLite and/or SQLCipher. Closing this.

[2021-11-24 10:27] #1097 closed

[2021-11-25 16:16] tianzhuqiao commented on #1073
Thanks for the great project. Do we have any plan for these features?

[2021-11-26 11:38] jberkel commented on #1073
@tianzhuqiao what do you mean?

[2021-11-26 15:58] tianzhuqiao commented on #1073
Thanks. I mean if we have plan to include such features in SQLite.swift

[2021-11-26 17:03] jberkel commented on #1073
Yes, that's why I created this issue.

[2021-11-26 17:24] tianzhuqiao commented on #1073
Great, roughly when will it be available?

[2021-11-26 23:40] jberkel commented on #1073
Sorry, no idea.

[2021-12-01 13:46] nikiizvorski commented on #1087
I am actually having the same issue right now. I don't really see how anything is changed on my side which i didn't really change and i get missing symbols

[2021-12-01 13:50] jberkel commented on #1087
The error message seems to indicate that it is  a problem with code signing, so maybe a problem with your project set up?

[2021-12-01 15:44] jberkel commented on #1087
@nikiizvorski in your application you have a framework which depends on SQLite? Have you tried downgrading cocoapods? Did you add the SQLite dependency to the framework target, or the app target?

[2021-12-01 16:11] nikiizvorski commented on #1087
Hey @jberkel we used a previous version of cocoapod that was quite old and it was working good as we tested it. Next step i will try again to downgrade to a previous version. Which one do you believe it would be the best? The dependency is added to the XCFramework and it is with Do not embed and into the test app is do not embed also but also it is been installed manually this is the usage in both

[2021-12-01 18:02] nikiizvorski commented on #1087
I have tried completely downgrading to 1.10.2 and same issue. After i downgraded to 1.8.4 version everything worked as expected. Seems something have to be updated. Even if it's manual i would appreciate the help for example editing the paths somehow i don't really have any good idea right now but taking suggestions. The SQLite implementation you guys have is awesome and works very very well. I ev

[2021-12-01 22:32] jberkel commented on #1087
Have you tried static linking with `use_frameworks! :linkage => :static` ?

[2021-12-02 06:36] nikiizvorski commented on #1087
Hey @jberkel should that be in both project or only the app side?

[2021-12-02 06:59] nikiizvorski commented on #1087
After using the suggestion seems to work as expected! I am using cocoapods 1.10.0 currently. Maybe i should switch to a higher version. Here is the issue i am getting right now:

[code]

[2021-12-02 07:19] nikiizvorski commented on #1087
I have tried having the following which works and i am using version 1.10.0 right now. It's used in both projects framework and app
[code]
What i get as output is the following
[code]

What i use and i think i need more than the static is dynamic which doesn't seem to find the dependency

[code]
What i get as output is the following
[code]
From this i should be able to get some suggestions right?

[2021-12-02 09:53] jberkel commented on #1087
It looks like the libraries are not part of the resulting binary. It's really hard to help you without access to the project, and I'm fairly  sure that this is not a problem with SQLite.swift, but a problem with your project setup, so will close this issue.

I'd suggest starting a new minimal project from scratch, and see if the pod integration works there.

[2021-12-02 09:53] #1087 closed

[2021-12-02 09:58] nikiizvorski commented on #1087
/Users/nikiizvorski/Library/Developer/Xcode/DerivedData/NikiApp-cueifmmncljweneycdourckmtrke/Build/Products/Debug-iphoneos/TestSDK.framework/Modules/TestSDK.swiftmodule/arm64-apple-ios.swiftinterface
/Users/nikiizvorski/Library/Developer/Xcode/DerivedData/NikiApp-cueifmmncljweneycdourckmtrke/Build/Products/Debug-iphoneos/TestSDK.framework/Modules/TestSDK.swiftmodule/arm64-apple-ios.swiftinterface:

[2021-12-08 11:42] mahsha opened #1101 "Encrypt Plain text Db"
I Hope you expose these functions in sqlite swift API to encrypt plain text DB
[code]

[2021-12-09 11:57] jberkel commented on #1101
Yes, this is planned. See #1098

[2021-12-09 16:16] leeyspaul opened #1102 "How to install SQLite.swift into Xcode playgrounds?"
In the docs it mentions that you can learn SQLite.swift in playgrounds. However, there are no details of how to get it installed so it's available in playgrounds.

How would one do that?

ps., thanks for the awesome package :]

[2021-12-10 11:30] jberkel commented on #1102
The easiest way is  to clone the repository and open the included playground.

[2021-12-10 23:20] leeyspaul commented on #1102
got it. Thank you :D

[2021-12-10 23:20] #1102 closed

[2021-12-20 02:29] zyvv opened #1103 "How can I write the BUILD file in Bazel to successfully reference SQlite.swift?"
I'm using Bazel to manage projects. How can I write the BUILD file in Bazel to successfully reference SQlite.swift?

[2021-12-21 12:25] ismetanin commented on #1079
I've just faced the same issue while installing SQLite.swift via SPM

<img width="520" alt="image" src="https://user-images.githubusercontent.com/11653316/146929607-86619fd1-159a-40ca-8703-a971e9a51f91.png">

[2021-12-22 13:29] clemensg commented on #1025
Hi, just wanted to let you know that I added a branch with experimental support for ICU. I could only test it on macOS 12.1 so far, so it would be great if you could try it out and report back.
You can reference the branch like this `pod 'sqlite3', inhibit_warnings: true, subspecs: ['icu'], git: 'https://github.com/clemensg/sqlite3pod.git', branch: 'icu'`

[2021-12-22 16:47] jberkel commented on #1025
@clemensg great, thanks for the notification, will try it out!

[2022-01-05 15:12] aaronsky opened #1104 "Removing C-family sources for the iOS platform on SPM"
Hey folks, this might be a bit of a stretch so let me explain.

When developing an iOS app using the new Swift Playgrounds App project format, one of two things can occur when using this package as a dependency. If developing inside Xcode, you will receive a warning that the C-family sources in SQLiteObjc are not supported in the Swift Playgrounds app (but will still build successfully because Xco

[2022-01-07 10:39] jberkel commented on #1104
The C code is only needed for the tokenizer integration. It's probably not used in most cases, and it's for an older version of FTS, FTS3. Perhaps it could be deprecated/removed in a future version, or at least moved to a separate package. Converting to Swift is not possible.

[2022-01-27 06:41] NightDrivers opened #1106 "Result Enum refactor"
public enum Result: Error {

    fileprivate static let successCodes: Set = [SQLITE_OK, SQLITE_ROW, SQLITE_DONE]
    case error(message: String, code: Int32, statement: Statement?)

    init?(errorCode: Int32, connection: Connection, statement: Statement? = nil) {
        guard !Result.successCodes.contains(errorCode) else { return nil }

        let message = String(cString: sqlite3_errmsg(connec

[2022-01-27 10:50] krunal545 opened #1107 "Data type casting"
I have a column in the table which contain both `Double` and `Int` value. So when I read the data with `Int` or `Double` type it threw me an error.

`(vl[Expression<Double>("obal")]) as? Int`

Can someone please guide how can I fetch the data with `Double` and `Int` type.

[2022-01-27 18:10] horatiu03 opened #1108 "M1 chip and simulator"
Hello,

I have a project where I use SQLite.swift. Recently I got a MacBook Pro with a M1 chip. After that the project runs fine on a device but when I try to run on simulator I get this error message from Xcode:
`Could not find module ‘SQLite’ for target ‘x86_64-apple-ios-simulator’; found: arm64, arm64-apple-ios-simulator`
I use cocoa pods for adding SQLite.swift to my project. I tried to move i

[2022-01-27 18:55] justinmeiners commented on #936
@NathanFallet I think this is potential shortcoming of the library, not a usage clarification. Row allows us to access namespaced columns by unprefixed name, provided there is no ambiguity. However, the `SQLiteDecoder` appears to define its set of available keys by only the namespaced version. If you cannot use `Codable`` with any kind of join, it's probably worthless.

[2022-01-27 19:45] justinmeiners opened #1109 "Performance: accessing a column from a row should not allocate an array"
In the [column access function](https://github.com/stephencelis/SQLite.swift/blob/d25e5bc453678fd04af604f7e20bde9d2933e2ab/Sources/SQLite/Typed/Query.swift#L1172) it creates an array and then filters it (creating another). If I decode 1000 records with 10 columns each, that's going to allocate 10,000 arrays!

You can implement the same algorithm much more directly:
1. Find the first index where th

[2022-02-08 02:30] NightDrivers commented on #1106
I know these are not reserved names. Because this enumeration has the same name as the Result of Swift standard library. When i import this library, all the Result in my project need to use as Swift.Result. which makes me a little uncomfortable, i think there is some solutions to relieve it.

[2022-02-09 16:14] jberkel commented on #1106
you could try to import only the classes you need:

[code]

[2022-02-10 22:24] #1108 closed

[2022-02-12 01:50] NightDrivers commented on #1106
Ok! Thanks!

[2022-02-16 03:35] benvizy opened #1111 "Xcode is not recognizing a .db file when I try to access it in the Device's Documents folder"
I am getting a "Code: 26 -- file is not a database" when I try to access my .db file within my project.  All my queries work when I access this file via the absolute path to the file on my desktop, but when I try to bring the file into Xcode, be it in the Bundle.main or the Documents folder, it does not recognize the file as a database.  When I use my terminal to open the file with my SQLite viewe

[2022-02-21 22:36] svenover opened #1114 "Class ObservableObject => Error "ORDER BY without LIMIT on DELETE (code: 1)""
Hi,

I use the link https://adnan-tech.com/create-read-update-and-delete-from-sqlite-swift-swift-ui/ to understand, how I have to use sqlite in my swiftui app.

All is fine with this example but with every call of the class, the init methode is called.

Therefore I switched to an observable class. So the init is called once at the app start.
[code]

With this change, the insert is working but the

[2022-02-22 13:22] svenover commented on #1114
Hi,

we I add the following line in the update and delete function - all is working, why?
`self.users = Table("users")`

Sorry, I don't understand it. The users table is initiated at startup and when I check the count of it, it tells me the exact row count.

Strange.

Here both function.
[code]

[2022-02-22 19:57] svenover commented on #1114
I found the issue.
I have a function with get all users. Inside this function I do a sort / order of the users. This sort / order is the problem. Now, I do it in an other way and now all is working.

[2022-02-22 19:57] #1114 closed

[2022-02-27 19:56] Mozahler commented on #1111
The StackOverflow question linked has an answer by the OP.

The posted answer:
I literally just accidentally copied a file that referenced the database, rather than the database itself! Silly mistake, but it took me days to work out 😅

This can be closed.

[2022-02-28 00:23] #1111 closed

[2022-03-02 22:28] eolverabea opened #1116 "Problem inserting data"
I try to insert a row in a table, sometimes it inserts the data and sometimes it doesn't and sends this error

Inserted data:
 Ticket(id: 0, price: 3.0, date_first_used: 2022-03-02 20:11:53 +0000, used: 0, product_id: 2, history_id: 16, is_first_used: 0, date_expiration: " ", ws_product_id: "2", product_days: 1, exp_annual: "03-02-2023 14:11:53") ticket
true

data not inserted:
Ticket(id: 0, price

[2022-03-03 17:05] jberkel commented on #1037
In the #981 it was decided to "Storing them as string for better readability in the database", i.e. it was optimized for human legibility.

Probably not a good call.

[2022-03-04 19:21] mlaster commented on #1037
Unfortunately the prevents me from storing it as a blob.  I used to have a `extension UUID: Value { }` to handle UUID natively as a Blob.  When I updated to a newer version of SQLite.swift it was in conflict with the new built-in one.

Human readability isn't as important as performance, especially since you can just run
`.mode quote` in sqlite3 and make blobs completely readable.

[2022-03-04 23:43] JetForMe commented on #1037
Update on my op: Vapor is storing them as SQLite native UUID type, and the `sqlite3` CLI renders them as a human-readable string.

[2022-03-05 09:45] jberkel commented on #1037
I agree that string storage is not a great default setting, it's really wasteful in terms of space. Ideally, the user of the library should be able to pick the correct serialization format required. Given the static nature of extensions in Swift, I'm not sure how feasible this is.

[2022-03-05 14:41] mlaster commented on #1037
There is also the whole issue of

"BB585245-7338-4638-8DF5-BF20B9EDD589" != "bb585245-7338-4638-8df5-bf20b9edd589"

Which would go away if they were stored as blobs.

[2022-03-07 13:25] hosy commented on #948
Is there a sample code, how OR conditions can be build since 0.13.0 to get a result, like mentioned above?

[2022-03-13 03:15] brookhong opened #1117 "How to catch interrupted error?"
Querying in some table is time-consuming, I want to intentionally interrupt previous query with `db.interrupt()`, which works fine.

But got below error from previous query, how can I catch the error without crashing the application?

    SQLite/Statement.swift:211: Fatal error: 'try!' expression unexpectedly raised an error: interrupted (code: 9)

Tried below code, but to no avail.

        do {

[2022-03-16 17:56] amandalragone opened #1118 "Crash - Statement.swift line 211"
After including SQLite in my project, I saw this crash:

SQLite/Statement.swift:211: Fatal error: 'try!' expression unexpectedly raised an error: disk I/O error (code: 10)

It looks like it's coming from here:

extension FailableIterator {
    public func next() -> Element? {
        // swiftlint:disable:next force_try
        try! failableNext()
    }
}

[Issue 1028](https://github.com/stephencel

[2022-03-21 18:19] tylerbrandt opened #1120 "Error when using `decode` on a `pluck` result"
## Build Information

SQLite.swift version: 0.13.2 (installed with Xcode "Add packages...")
Xcode version: 13.2.1
macOS version: 12.3

## Description of issue

When I try to decode a `Codable` type using `db.prepare` and iterating over the results, it works. However, when use `db.pluck` to fetch at most one of the same type, it fails with the error:
[code]
Playground code to reproduce the error ab

[2022-03-23 22:29] jostster commented on #1079
Seems to still be an issue :( with carthage

[2022-03-25 11:25] jberkel commented on #1079
These sources should be removed, see  #1104

[2022-04-05 23:09] #838 closed

[2022-04-11 17:09] SaladDays831 commented on #1117
Also happening to me when I call db.interrupt()
Crashes in Statement.swift, on

[code]

[2022-04-14 14:38] BajwaRevelAmeer opened #1123 "Error in CircleCI pipeline: Duplicate symbol error with another swift package dependency"
### Describe the problem

**No problem with actual library.**

Issue occurs when running through circleCI pipeline. Received a duplicate symbol error when compiling all the different libraries in the Xcode project on circleCI with another swift package dependency (SimpleKeyChain). Has anyone else seen experienced something like this?

### What was the expected behavior?

- Compiling of code covera

[2022-04-15 03:52] niwenk opened #1125 "'sqlite3.h' file not found"
<img width="940" alt="image" src="https://user-images.githubusercontent.com/15497804/163515466-87b563b5-5394-4d1c-bfdf-da1f7340987f.png">

[2022-04-19 13:20] NathanFallet commented on #1125
Hello, can you give more context? (how you imported the library, which version you use, ...)

[2022-04-19 13:30] NathanFallet commented on #1118
Please see #1075. It shows how you need to catch the error. Also, feel free to open a Pull Request to update the documentation to make it clearer.

[2022-04-19 13:32] NathanFallet commented on #1117
Closing as it is a duplicate of #1118. We're going to keep only one issue opened to track this problem.

[2022-04-19 13:32] #1117 closed

[2022-04-19 13:40] NathanFallet commented on #1116
There shouldn't be a `WHERE ("id" = ?)` in the SQL request generated by the `insertTicket(ticketValues:)` function.
Are you sure that you are calling the same function to insert both Tickets?

[2022-04-19 15:22] felipevaladares commented on #1104
any news about this? i'm having the same issue as https://github.com/stephencelis/SQLite.swift/issues/1079

[2022-04-20 12:54] NathanFallet commented on #1096
It would be great to separate Views and Models (you can use a `@StateObject` ViewModel with `@Published` properties for example).
In case you want to import both frameworks, you can of course differentiate `Binding` with `SwiftUI.Binding` and `SQLite.Binding`.

[2022-04-20 12:54] #1096 closed

[2022-04-20 16:53] jberkel commented on #1123
It doesn't look related to SQLite.swift, more like a configuration problem. How is the build executed? Can you post the full log instead of a screenshot?

[2022-04-22 11:41] Alkenso opened #1126 "UUID fields are not decoded properly (while encoded good)"
Version: 0.13.3
Installed via SPM

File: SQLite/Typed/Coding.swift
SQLite.swift has support of UUID type.
- it is encoded properly at line 210
- decoding counterpart is missing at line 390

[2022-04-23 00:57] haafgre opened #1127 "Compiling Error"
Application was working well with the SQLite being used, and now it crashes after xCode had recent update 13.3.1.
Any possible solutions?

{Cycle in dependencies between targets 'Capstone' and 'SQLite iOS'; building could produce unreliable results. This usually can be resolved by moving the target's Headers build phase before Compile Sources.
Cycle path: Capstone → SQLite iOS → Capstone
Cycle det

[2022-04-23 01:03] haafgre commented on #1127
NVM! Fixed it!

[2022-04-23 01:03] #1127 closed

[2022-04-26 14:09] KennethFra opened #1128 "Tokenizer: Unicode61 constructor uses incorrect spelling of 'remove_diacritics'"
SQLite.swift version: 0.13.3
Xcode: 13.3.1
Swift Package manager
FTS4.swift: 106

`            arguments.append("removeDiacritics=\(removeDiacritics ? 1 : 0)".quote())
`

Should be:
`            arguments.append("remove_diacritics=\(removeDiacritics ? 1 : 0)".quote())
`

https://www.sqlite.org/fts3.html#tokenizer

[2022-04-27 12:48] #1128 closed

[2022-04-27 12:48] jberkel commented on #1128
@KennethFra thanks, fixed!

[2022-04-28 13:52] duhnnie opened #1130 "insertMany() fails when encodables have nil on different fields between them."
`insertMany(_ encodables: [Encodable])` fails when optional fields (nullable) have `nil` as its value on different fields among them.

Getting this message/error:
[code]

## Build Information

- SQLite.swift v.0.13.3, revision: 4d543d811ee644fa4cc4bfa0be996b4dd6ba0f54
- Xcode 13.3.1. macOS Big Sur 11.6.5 / macOS Monterey 12.3.1
- How do do you integrate SQLite.swift in your project?
    - Swift Pa

[2022-04-29 14:30] jberkel commented on #1079
Note that the integration happens via SPM, so I don't see why changes to `project.pbxproj` would fix the issue?

[2022-04-29 16:45] justinmeiners commented on #1079
@maciekish This fixed manual subproject inclusion for me.

[2022-04-30 23:35] #1079 closed

[2022-05-01 00:55] jberkel commented on #1079
Could somebody using SPM try this change?

[2022-05-06 15:54] mickael-menu commented on #985
(... literally one year later)

@NathanFallet I switched to GRDB.swift as SQLite.swift was not maintained anymore at the time. However, that's great that you've taken over maintenance. There's definitely a space and need for a lightweight SQLite Swift wrapper. Keep up the good work!

[2022-05-09 21:36] justinmeiners opened #1133 "Should be able to access columns by index, not just by key."
## Overview

Suppose a query result returns a large number of rows:

    let rows = try db.prepare(...)

To access the data, I have to loop through each row, and on each row lookup the desired columns by key. This requires a call to `Row.get` which does a lot of work (quoting the column name, looking it up in a dictionary, checking for ambiguity, etc).

     for row in rows {
         let x = row.

[2022-05-25 13:09] nikiizvorski opened #1135 "Bitcode Dropped - iPhone Simulator build architecture X86-64"
Hello. I am having issues generating bitcode for the SQLite framework i am using cocoapods to add it as a dependency to my project. I can see that there is bitcode enabled and all flags are added to the pods project and my project. When archiving to create a framework i am having a problem with bitcode. It doesn't seem to make an issue for my iphone build but for simulator it does and for the arch

[2022-05-25 16:07] jberkel commented on #1135
The message you posted (ld: warning) looks like a warning message, are you sure this stops the build from completing? Maybe the error is somewhere else.

[2022-05-25 16:32] nikiizvorski commented on #1135
Hey @jberkel it doesn't stop processing the build but later it have an effect when I need to do some manipulation on top.

[2022-05-25 17:49] justinmeiners commented on #1133
This can be done using a raw query and returning a `Statement`.

[2022-05-25 17:57] #1133 closed

[2022-05-25 17:59] jberkel commented on #1135
Sorry, your bug report is not very helpful. What exactly doesn't work?

[2022-05-25 18:43] jberkel commented on #1135
I'm not sure if it even makes sense to have bitcode for simulator builds, or if it's possible. Bitcode is meant for AppStore submissions, and you can't submit simulator builds to Apple.

[2022-05-25 19:56] nikiizvorski commented on #1135
Yes. That's correct. Seems bitcode is available only for iOS and macOS there is a way to generate it for simulator but I don't believe it makes sense.

[2022-05-25 19:56] #1135 closed

[2022-06-01 12:55] ankitagg-ms opened #1136 "Crash when extracting Date type data from DB"
Top Statement from crash logs
`static (extension in SQLite):Foundation.Date.fromDatatypeValue(Swift.String) -> Foundation.Date`

## Build Information

- version 0.13.3
- Xcode used 13.2.1
- Os version iOs 14+
- How do do you integrate SQLite.swift in your project?
    - CocoaPods

## General guidelines

- app Crashing for some user while extracting `Date` data from DB.
- Start happening after upgr

[2022-06-01 14:26] jberkel commented on #1136
Looks like there's an unexpected date format in the database. Could you get the value of the row using the debugger?

[2022-06-02 06:22] ankitagg-ms commented on #1136
This crash is happening for user in production app and hence can not check the value with debugger attach.

We have multiple date variable in our DB and they are coming from server and nothing has changed recently with our format.
More ever, this is working for user on mac.

As per user, this started happening with latest update where we update sqlite version to 0.13.3.

Not sure if something was

[2022-06-02 08:03] jberkel commented on #1136
From which version did you update?

[2022-06-03 05:13] ankitagg-ms commented on #1136
from version 0.13.2

[2022-06-03 05:27] ankitagg-ms commented on #1136
And for reference.
Date format we use is this
`2022-03-24T00:00:00.000`

[2022-06-04 12:49] underthestars-zhy commented on #1073
When will these features be exposed?

[2022-06-12 10:49] eonil commented on #1126
+1

Same thing happened to me.

[2022-06-26 06:32] underthestars-zhy commented on #982
I'm getting the same error, too

[2022-06-26 06:32] underthestars-zhy commented on #982
I can open my .db file with other apps. But I cannot open it by this package

[2022-07-12 09:22] niwenk commented on #1125
MacOS 12.1 (Monterey)
Xcode 13.2.1
Target: iOS, 13.6

CocoaPods
pod 'SQLite.swift'

Installing SQLite.swift (0.12.2)

[2022-07-12 09:22] niwenk commented on #1125
MacOS 12.1 (Monterey)
Xcode 13.2.1
目标：iOS，13.6

CocoaPods
pod 'SQLite.swift'

安装 SQLite.swift (0.12.2)

[2022-07-13 22:22] mryoyal opened #1140 "recover"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected.
- How do do you integrate SQLite.swift in your project?
    - manual
    - CocoaPods
    - Carthage
    - Swift Package manager

## General guidelines

- Be as descriptive as possible.
- Provide as much information needed to _reliably reproduce_ the issue.

[2022-07-17 10:45] #1123 closed, assigned to nobody

[2022-07-18 23:56] #1074 closed, assigned to nobody

[2022-07-19 19:22] NathanFallet commented on #1103
@zyvv Checkout this article, it can help you to integrate it with Bazel. Feel free to update the documentation in a PR if you find a working solution.
https://chuckgrindel.com/swift-packages-in-bazel/

[2022-07-19 19:22] #1103 closed

[2022-07-25 12:08] ursusursus opened #1147 "Combine support? Any data change listener I could wrap?"
Reactive database is needed in reactive architecture.
I don't see any Combine bindings provided. Is there some sort of data change listener I could adapt myself to Combine?

[2022-07-25 18:19] #1073 closed

[2022-07-25 18:22] NathanFallet commented on #1147
I think that SQLite is not capable of notifying for changes. You have to implement a listener yourself when you change data, for example using a custom `Notification.Name` and an observer (`NotificationCenter.default.addObserver(...)`).

[2022-07-25 18:39] groue commented on #1147
SQLite is certainly capable of database observation. Check out [Database Observation with Combine and GRDB](https://github.com/groue/GRDB.swift/blob/master/Documentation/Combine.md#database-observation) for ready-made Combine publishers.

[code]

[2022-07-26 10:42] ursusursus commented on #1147
@jberkel I basically want observable queries, that is to get the current result of the query as first emit, and then subsequent emits as the underlying data changes. In other words, query over time.

[2022-08-23 02:52] lizhongfu opened #1150 "MISSING REQUIRED MODULE 'SQLITEOBJC' WITH SQLITE.SWIFT-SWIFT"
pod 'SQLite.swift',  :git => 'https://github.com/stephencelis/SQLite.swift.git'

[2022-08-23 07:56] NathanFallet commented on #1150
Try to replace with following:
[code]

[2022-08-23 07:56] #1150 closed

[2022-09-09 00:13] PatrickDanino opened #1153 "Crash when iOS suspends app after being backgrounded"
## Build Information

v0.13.3 via SPM

## Issue

We noticed a number of crashes due to `EXC_CRASH: RUNNINGBOARD 0xdead10cc`. According to the Apple docs, this is likely due to iOS terminating our app because we are actively performing database operations while in the background.

The problem is that we didn't initially know we needed to do anything special in order to avoid this problem, and this

[2022-09-09 15:55] withzombies commented on #1130
Would it be possible to cut a new release with this change?

[2022-09-10 18:55] NathanFallet commented on #1130
@withzombies Going to do it tomorrow, I add a reminder on my phone. I'm sorry for this!

[2022-09-10 18:58] withzombies commented on #1130
No worries! I appreciate the work you're doing here

[2022-09-10 21:32] jverkoey opened #1154 "Add support for removing columns"
Similar to `try db.run(users.addColumn(suffix))`, it would be useful to also be able to delete columns using syntax like `try db.run(users.deleteColumn(suffix))`

[2022-09-10 21:36] jverkoey commented on #1154
In the absence of such a function, something like the following can be ran:

[code]

[2022-09-11 15:35] jasaldivara opened #1155 "SQLite.swift Flexible Typing?"
I want to use SQLite's [Flexible Typing](https://www.sqlite.org/flextypegood.html) in SQLite.swift.

My idea is to have a column declared as "TEXT" Datatype in my SQLite database, but with the option of also storing binary data as a BLOB.

In the Swift side of things, I'm thinkinig of declaring my type as an Enumeration with associated values:

[code]

Is it possible to make this enum conform to S

[2022-09-12 14:59] Mozahler opened #1156 "Can't Use Previews in Xcode in a Local Package if it requires SQLite.swift"
I'm getting
[code]
when I try to use previews. I don't run into this problem in the main module, but when the view is in a local package imported by my app.

I imagine that you (or Stephen) have run into this problem when using previews (I see he makes heavy use of them in his point free episodes), and trust that one of you knows how to make the compiler happy.  I have posted this question on Stac

[2022-09-19 05:29] liyuan116 opened #1157 "View B dependency on table A Issues arising from modifying A"
In previous version 0.12.2, we created a view B dependency on table A
and then deleted table A by changing the primary key of table A or deleting a field of table A.
It is good to create a temporary table a_temp and write data from table A.
Finally, it is good to delete table A and rename a_temp to Table A.

However, 0.13.3 release is not ok the error is View B depends on Table A not found
What's

[2022-09-20 06:56] liyuan116 commented on #1101
hi  @jberkel When will 0.14.0 be released ?

[2022-09-20 12:13] NathanFallet commented on #1155
You can create a custom encoder/decoder. You set the first byte to 1 for the first case of the enum, and 2 for the second, and you read the rest of your data to initialize your object. That way, you store everything as BLOB.

[2022-09-20 12:13] #1155 closed

[2022-09-20 12:18] NathanFallet commented on #1156
Can you provide us a project to reproduce the issue? (a zip archive of your project for example)
I'm using the package in my apps and I don't have any problem with previews.

[2022-09-20 12:23] NathanFallet commented on #1130
Well, we'll wait for #1148 to be merged and then do a release

[2022-09-20 19:38] Mozahler commented on #1156
Thanks for responding. I will make the simplest demo I can that shows the problem and send it.

[2022-09-21 07:09] liyuan116 commented on #1157
my error info :com.initialize.resident.thread (30): Fatal error: Could not initialize database: error in view b: no such table: main.a @jberkel  can you help me?

[2022-09-22 08:08] liyuan116 commented on #1157
Fatal error: Could not initialize database: UNIQUE constraint failed: schema_migrations.version (code: 19)

[2022-09-22 17:31] Mozahler commented on #1156
I was able to create an ultra simple project which demonstrates the problem.
[Thursday.zip](https://github.com/stephencelis/SQLite.swift/files/9628091/Thursday.zip)

It just prints out the name of the DB connection in a Text. Runs fine on the simulator, but `ContentViewX` will not preview from the package.
<img width="853" alt="ErrorOnPreviewBuild" src="https://user-images.githubusercontent.com/96

[2022-09-22 18:46] PatrickDanino commented on #1153
As a follow up, we ended up wrapping the entire SQLite `Connection` object into its own client, which mostly acts as a helper to ensure no one creates one manually. This also helps us with managing the lifetime of the connection as it appears to maintain a reference and needs to be properly closed.

The client class looks something like this:
[code]

Here's an example of safe usage:
[code]

[2022-09-27 01:04] #1157 closed

[2022-09-27 01:07] liyuan116 opened #1159 "Converts a encrypted database to an non-encrypted one?"

[2022-09-27 01:53] liyuan116 commented on #1101
[Decrypt a SQLCipher database to a Plaintext Database](https://www.zetetic.net/sqlcipher/sqlcipher-api/#example-2-I Hope you expose these functions in sqlite swift API  decrypt-a-sqlcipher-database-to-a-plaintext-database)
public func plaintext_export(_ location: Location, key: String) throws {
        let schemaName = "plaintext"
        let sql = "PRAGMA key = \(key)"
        try run(sql)

[2022-09-27 01:54] #1159 closed

[2022-09-28 03:07] liyuan116 opened #1160 "Encrypt Plain text Db"
hi @stephencelis @jberkel  When will the version with the functionality of the existing database secrets be released，very thanks.

[2022-10-10 12:23] kmitj commented on #1084
any updates?

[2022-10-13 17:08] lczvd opened #1162 "Possible Memory Leak"
Hi,

I just noticed something on version 0.13.3.

The Xcode Instruments is reporting the following leak:

![leak](https://user-images.githubusercontent.com/115730747/195660063-f8ffb2ee-6544-44e0-8e59-fdb1fcc92f77.png)

By the way, I'm using Xcode 14.0.1 and the app is running on iOS 14.6.

Any ideas on the possible source of this issue?

Thanks in advance!

[2022-10-18 15:13] jberkel opened #1163 "Modernize project/housekeeping"
- [x] Swift 5.7?
- [x] project.pbxproj ?
- [x] CI should run on latest Xcode: deployment targets?
- [x] Documentation (TOC, new features, prepareRowIterator, breaking changes (FTS4))
- [x] Changelog

[2022-10-18 20:06] jverkoey commented on #1154
Thank you! 🙏

[2022-10-20 09:05] NathanFallet commented on #1163
Linked to #1164 and #1165

[2022-10-20 09:05] #1160 closed

[2022-10-20 09:07] NathanFallet commented on #1162
More information is required. Can you provide a reproducible example?

[2022-10-20 09:10] NathanFallet commented on #1084
Can you explain what you are trying to achieve and that does not work?

[2022-10-21 22:44] timshadel commented on #1084
@NathanFallet I have the same question. The docs only give CocoaPods as a way to use SQLCipher, and indeed [this comment](https://github.com/stephencelis/SQLite.swift/issues/1086#issuecomment-945958033) on the mentioned issue seems to say the same thing.

How can we avoid CocoaPods, and still use SQLite.swift with SQLCipher?

[2022-10-26 22:08] #1163 closed, assigned to nobody

[2022-10-28 02:50] youjourney opened #1169 "Releases and Tags need update to 0.14.0"
## Build Information

- Include the SQLite.swift version, commit or branch experiencing the issue.
- Mention Xcode and OS X versions affected.
- How do do you integrate SQLite.swift in your project?
    - manual
    - CocoaPods
    - Carthage
    - Swift Package manager

## General guidelines

- Be as descriptive as possible.
- Provide as much information needed to _reliably reproduce_ the issue.

[2022-10-31 10:25] Samback commented on #1169
Still get the same issue.

[2022-11-07 18:47] crudolf opened #1171 "BAD_ACCESS with iOS 16, release 0.14.1 and table create"
After upgrading to 0.14.1 a table creation for an already existing table gives a BAD_ACCESS.

## Build Information

SQLite: 0.14.1
iOS: 16.0.1
Build with Carthage on M1 Pro

## General guidelines

In general there is an existing project which works perfectly fine with 0.13.3. After upgrading and starting the application on a real device (not reproducable with the simulator). The table.create funct

[2022-11-10 10:13] liyuan116 opened #1172 "Is there a better way for s.sbspec 'standard' and S.sbspec 'SQLCipher' to coexist"
My sdk uses SQLCipher, but the user using our sdk uses standard. Could you please use SQLCipher module after pod install when both of them coexist? However, this is not the case at present and errors will be reported? Is there a more friendly way?
thanks ～

[2022-11-14 05:13] liyuan116 opened #1173 "SQLite Encryption Extension"
If we used SQLite Encryption Extension we purchased and built it into our SDK product, how do we use SQlite. swift
I watched the https://sqlite.org/com/see.html

[2022-11-17 07:16] Alkenso opened #1175 "Update behaviour: swift Codable with Optional fields"
In some past SQLiteEncoder skips to update the column if the Codable's optional field is `nil`
Seems after https://github.com/stephencelis/SQLite.swift/issues/838 it starts to place `null` if the value is `nil`, which is not convenient in some cases (often you want to update only part of the fields)

Please provide either
- example/docs how to update only non-nil fields
- additional Encoder settin

[2022-11-17 10:30] imseonho opened #1176 "Reactive functionality"
Hello!

I made my application with SQLite, SwiftUI, Combine, MVVM, etc.

# Issue

And I needed some feature to refresh view when the database table changes in my app.

I implemented like,
- user clicks a button
- then, app **insert**s some data to DB
- to do refresh work, app **select**s from DB

#

And I encountered an error, saying "database is locked (code: 5)", like below.

<img width="602" al

[2022-11-19 21:46] Alkenso commented on #1175
And what do you think to add such flexibility to SQLiteEncoder? To give and option to encode nil and null with replacement / just ignore nils